@import "../../../styles/base";

/* ===================================================================
   CARD TITLE
   =================================================================== */

.base {
    height: var(--elementSize_big);
    border-bottom: 1px solid rgba(var(--color_base), 0.10);
    display: flex;

    .title {
        flex-grow: 1;
        font-size: var(--fontSize_large);
        font-weight: var(--fontWeight_medium);
        line-height: var(--elementSize_big);
        padding: 0 var(--spacing_medium);
        @include m-truncate();
    }

    .addons {
        padding: 0 var(--spacing_medium);
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;

        .action {
            position: relative;
            width: var(--elementSize_big);
            border-left: 1px solid rgba(var(--color_base), 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            @include m-iconColor(rgba(var(--color_base), 0.8));

            &:hover, &:active {
                @include m-iconColor(rgba(var(--color_base), 1));
                background-color: rgba(var(--color_base), 0.03);
            }
        }
    }
}
