@import "../../../styles/base";

/* ===================================================================
   CARD TITLE
   =================================================================== */

.base {
    height: $size--element-big;
    border-bottom: 1px solid rgba($color--base, 0.10);
    display: flex;

    .title {
        flex-grow: 1;
        font-size: $fontSize--large;
        font-weight: $fontWeight--medium;
        line-height: $size--element-big;
        padding: 0 $spacing--medium;
        @include m-truncate();
    }

    .addons {
        padding: 0 $spacing--medium;
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;

        .action {
            position: relative;
            width: $size--element-big;
            border-left: 1px solid rgba($color--base, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            @include m-iconColor(rgba($color--base, 0.8));

            &:hover, &:active {
                @include m-iconColor($color--base);
                background-color: rgba($color--base, 0.03);
            }
        }
    }
}
