@import "../../../styles/base";

/* ===================================================================
   FILE SELECT BUTTON
   =================================================================== */

.base {
    outline: none;
    display: inline-block;

    .input {
        display: none;
    }
}
