@import "../../../styles/base";

/* ===================================================================
   FILE SELECT BUTTON
   =================================================================== */

.base {
    display: inline-block;
    outline: none;

    .input {
        display: none;
    }
}
