@import "../../../../styles/base";

/* ===================================================================
   APP BAR ITEM
   =================================================================== */

.item {
    display: inline-block;
    cursor: pointer;

    .wrapper {
        height: $appBar--height;
        padding: 0 var(--spacing_edges);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
