@import "../../../../styles/base";

/* ===================================================================
   APP BAR ITEM
   =================================================================== */

.item {
    display: block;

    .wrapper {
        height: $appBar--height;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.placeRight {
        .wrapper {
            padding-right: var(--spacing_regular);
        }
    }

    &.placeLeft {
        .wrapper {
            padding-left: var(--spacing_regular);
        }
    }

    &.grow {
        flex-grow: 1;
    }

    &.shrink {
        flex-shrink: 1;
    }
}
