@import "../../../styles/base";

/* ===================================================================
   CARD
   =================================================================== */

$backgroundColor: rgba(var(--card_backgroundColor, var(--color_backgroundContent)), 1);
$boxShadow: var(--card_boxShadow, var(--boxShadow_content));
$borderRadius: var(--card_borderRadius, var(--borderRadius_content));
$highlightBorder: var(--card_highlightBorder, 3px solid rgba(var(--color_primary), 1));

.base {
    position: relative;
    background-color: $backgroundColor;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    overflow: hidden;

    &.clickable {
        cursor: pointer;
        user-select: none;
    }

    &.typeHighlight {
        border-bottom: $highlightBorder;
    }

    .link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
