@import "../../../styles/base";

/* ===================================================================
   CARD
   =================================================================== */

.base {
    position: relative;
    background-color: rgba(var(--color_backgroundContent), 1);
    box-shadow: var(--boxShadow_regular);
    border-radius: var(--borderRadius_content);
}
