@import "../../../styles/base";

/* ===================================================================
   CARD
   =================================================================== */

.base {
    position: relative;
    margin-bottom: $spacing--medium;
    background-color: $color--background-cards;
    box-shadow: $boxShadow--regular;
    border-radius: $borderRadius--regular;
}
