
/* ===================================================================
   CARD
   =================================================================== */

.base {
    position: relative;
    margin-bottom: $spacing--medium;
    background-color: $color--contrast;
    box-shadow: $boxShadow--regular;
}
