@import "../../../styles/base";

/* ===================================================================
   CARD
   =================================================================== */

.base {
    position: relative;
    background-color: $content--backgroundColor;
    box-shadow: $boxShadow--regular;
    border-radius: $content--borderRadius;
}
