@import "../../../styles/base";

/* ===================================================================
   PAGE CRUMBS
   =================================================================== */

.crumb {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--elementSize_small);
    user-select: none;
    transition: all .2s linear;

    .label {
        color: rgba(var(--color_base), 0.7);
        padding: 4px 18px;
        text-decoration: none;
    }

    // STATE: Hover
    &:hover:not(.current) {
        cursor: pointer;

        .label {
            color: rgba(var(--color_base), 1);
        }
    }

    // STATE: Current
    &.current {
        .label {
            color: rgba(var(--color_base), 0.4);

            &:hover {
                color: rgba(var(--color_base), 0.4);
            }
        }
    }

    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            position: relative;
            background-color: rgba(var(--color_base), ($i - 1) * 0.035);
            box-shadow: -3px 0 3px 0 rgba(var(--color_base), 0.03);
            z-index: 10 - $i;
        }
    }
}
