@import "../../../styles/base";

/* ===================================================================
   PAGE CRUMBS
   =================================================================== */

.crumb {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--elementSize_small);
    user-select: none;
    transition: all 0.2s linear;

    .label {
        color: rgba(var(--color_base), 0.6);
        padding: 4px 18px;
        text-decoration: none;
    }

    // STATE: Hover
    &:hover {
        cursor: pointer;

        .label {
            color: rgba(var(--color_base), 1);
        }
    }

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            position: relative;
            background-color: rgba(var(--color_base), $i * 0.03);
            box-shadow: inset -3px 0 3px 0 rgba(var(--color_base), 0.03);
            z-index: 10 - $i;
        }
    }
}
