@import "../../../styles/base";

/* ===================================================================
   PAGE CRUMBS
   =================================================================== */

$height: var(--pageCrumbs_height, var(--elementSize_small));

.base {
    height: $height;

    .leftFade {
        display: none;
    }

    .rightFade {
        display: none;
    }

    .container {
        position: absolute;
        display: flex;
        white-space: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
        overflow: hidden;
    }
}
