@import "../../../styles/base";

/* ===================================================================
   APP BAR
   =================================================================== */

$backgroundColor: rgba(var(--navBar_backgroundColor, var(--color_base)), 1);
$foregroundColor: rgba(var(--navBar_foregroundColor, var(--color_contrast)), 1);
$accentColor: rgba(var(--navBar_accentColor, var(--color_primary)), 1);
$boxShadow: var(--navBar_boxShadow, var(--boxShadow_regular));
$borderBottom: var(--navBar_borderBottom, "none");
$subBackgroundColor: rgba(var(--navBar_subBackgroundColor, var(--color_backgroundContent)), 1);
$subBorderBottom: var(--navBar_subBorderBottom, none);

.base {
    position: relative;
    z-index: $zIndex--appBar;
    box-shadow: $boxShadow;
    border-bottom: $borderBottom;
    flex-shrink: 0;

    .mainBar {
        position: relative;
        background: $backgroundColor;
        height: $appBar--height;
        z-index: 2;

        .left {
            position: absolute;
            left: 0;
            top: 0;
        }

        .right {
            position: absolute;
            right: 0;
            top: 0;
        }

        .center {
            flex-grow: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: $appBar--height;
            right: $appBar--height;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .title {
                text-align: center;
                font-size: var(--fontSize_heading4);
                font-weight: var(--fontWeight_medium);
                color: $foregroundColor;
                padding: 0 var(--spacing_regular);
                @include m-truncate();
            }

            .subtitle {
                text-align: center;
                color: $foregroundColor;
                margin-top: -5px;
                opacity: 0.5;
            }
        }
    }

    .subBar {
        position: relative;
        width: 100%;
        height: $appBar--height;
        background-color: $subBackgroundColor;
        transition: margin-top .2s cubic-bezier(0.550, 0.055, 0.675, 0.190), box-shadow .2s linear;
        display: flex;
        z-index: 1;
        border-bottom: $subBorderBottom;

        .left {
            display: flex;
            flex-grow: 1;
        }

        .right {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
        }
    }
}




@include for-tablet-up(){
    .base {
        .mainBar {
            display: none;
        }
    }
}

@include for-tablet-down(){
    .base {
        .subBar {
            margin-top: - $appBar--height;
        }

        &.subBarActive {
            .subBar {
                margin-top: 0;
                box-shadow: $boxShadow;
            }
        }
    }
}
