@import "../../../styles/base";

/* ===================================================================
   APP BAR
   =================================================================== */

.base {
    position: relative;
    height: $appBar--height;
    z-index: $zIndex--appBar;

    .mainBar {
        position: relative;
        background: $color--nav-bar-background;
        box-shadow: $boxShadow--regular;
        height: $appBar--height;
        display: flex;
        z-index: 2;

        .center {
            flex-grow: 1;
            position: relative;

            .text {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                line-height: $appBar--height;
                text-align: center;
                font-size: $fontSize--heading-4;
                font-weight: $fontWeight--medium;
                color: $color--nav-text;
                padding: 0 $spacing--regular;
                @include m-truncate();
            }
        }
    }

    .subBar {
        position: absolute;
        top: 0;
        width: 100%;
        height: $appBar--height;
        background-color: $content--backgroundColor;
        transition: top .2s cubic-bezier(0.550, 0.055, 0.675, 0.190), box-shadow .2s linear;
        box-shadow: $boxShadow--regular;
        display: flex;
        z-index: 1;

        .left {
            flex-grow: 1;
            text-align: left;
        }

        .right {
            flex-grow: 1;
            text-align: right;
        }
    }
}




@include for-tablet-landscape-up(){
    .base {
        .mainBar {
            display: none;
        }
    }
}

@include for-tablet-landscape-down(){
    .base {
        .subBar {
            box-shadow: none;
        }

        &.subBarActive {
            .subBar {
                top: $appBar--height;
                box-shadow: $boxShadow--regular;
            }
        }
    }
}
