@import "../../../styles/base";

/* ===================================================================
   CALLOUT
   =================================================================== */

.base {
    padding: $spacing--regular;
    border-radius: $borderRadius--regular;
    border: 1px solid rgba($color--base, 0.10);
    background-color: rgba($color--base, 0.03);
    color: rgba($color--base, 0.8);

    &.info {
        background-color: rgba($color--info, 0.1);
        border-color: rgba($color--info, 0.3);
        color: desaturate($color--info, 30%);
    }

    &.success {
        background-color: rgba($color--success, 0.1);
        border-color: rgba($color--success, 0.3);
        color: desaturate($color--success, 30%);
    }

    &.warning {
        background-color: rgba($color--warning, 0.1);
        border-color: rgba($color--warning, 0.4);
        color: desaturate($color--warning, 30%);
    }

    &.error {
        background-color: rgba($color--error, 0.1);
        border-color: rgba($color--error, 0.3);
        color: desaturate($color--error, 30%);
    }

    .title {
        font-size: $fontSize--medium;
        font-weight: $fontWeight--medium;
    }
}
