@import "../../../styles/base";

/* ===================================================================
   CALLOUT
   =================================================================== */

.base {
    padding: var(--spacing_regular);
    border-radius: var(--borderRadius_form);
    border: 1px solid rgba(var(--color_base), 0.1);
    background-color: rgba(var(--color_base), 0.03);
    color: rgba(var(--color_base), 0.8);

    .title {
        font-size: var(--fontSize_medium);
        font-weight: var(--fontWeight_medium);
    }

    &.info {
        background-color: rgba(var(--color_info), 0.05);
        border-color: rgba(var(--color_info), 0.3);
        color: rgba(var(--color_info), 1);
    }

    &.success {
        background-color: rgba(var(--color_success), 0.05);
        border-color: rgba(var(--color_success), 0.3);
        color: rgba(var(--color_success), 1);
    }

    &.warning {
        background-color: rgba(var(--color_warning), 0.05);
        border-color: rgba(var(--color_warning), 0.4);
        color: rgba(var(--color_warning), 1);
    }

    &.error {
        background-color: rgba(var(--color_error), 0.05);
        border-color: rgba(var(--color_error), 0.3);
        color: rgba(var(--color_error), 1);
    }

    &.alignCenter {
        text-align: center;
    }
}
