@import "../../../styles/base";

/* ===================================================================
   BADGE
   =================================================================== */

$borderWidth--badge: 1px;
$height--badge: 21px;
$height--badge-small: 17px;

.base {
    display: inline-block;
    height: $height--badge;
    line-height: $height--badge - 2px;
    padding: 0 7px;
    font-size: var(--fontSize_tiny);
    border: $borderWidth--badge solid rgba(var(--color_base), 0.4);
    font-weight: var(--fontWeight_bold);
    text-transform: uppercase;
    border-radius: var(--borderRadius_form);
    color: rgba(var(--color_base), 0.8);
    letter-spacing: .5px;

    /* Filled
    ---------------------------------------------------------------------- */
    &.fill {
        background-color: rgba(var(--color_base), 1);
        border-color: rgba(var(--color_base), 1);
        color: rgba(var(--color_contrast), 1);
    }

    /* Number
    ---------------------------------------------------------------------- */
    &.number {
        border-radius: $height--badge;
    }

    /* Badge variants
    ---------------------------------------------------------------------- */
    &.primary {
        border-color: rgba(var(--color_primary), 1);
        background-color: transparent;
        color: rgba(var(--color_primary), 1);

        &.fill {
            background-color: rgba(var(--color_primary), 1);
            color: rgba(var(--color_contrast), 1);
        }
    }

    &.muted {
        border-color: rgba(var(--color_base), 0.10);
        background-color: transparent;
        color: rgba(var(--color_base), 0.4);

        &.fill {
            border-color: transparent;
            background-color: rgba(var(--color_base), 0.10);
            color: rgba(var(--color_base), 0.4);
        }
    }

    &.info {
        border-color: rgba(var(--color_info), 1);
        background-color: transparent;
        color: rgba(var(--color_info), 1);

        &.fill {
            background-color: rgba(var(--color_info), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.error {
        border-color: rgba(var(--color_error), 1);
        background-color: transparent;
        color: rgba(var(--color_error), 1);

        &.fill {
            background-color: rgba(var(--color_error), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.warning {
        border-color: rgba(var(--color_warning), 1);
        background-color: transparent;
        color: rgba(var(--color_warning), 1);

        &.fill {
            background-color: rgba(var(--color_warning), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.success {
        border-color: rgba(var(--color_success), 1);
        background-color: transparent;
        color: rgba(var(--color_success), 1);

        &.fill {
            background-color: rgba(var(--color_success), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.contrast {
        border-color: rgba(var(--color_contrast), 1);
        background-color: transparent;
        color: rgba(var(--color_contrast), 1);

        &.fill {
            background-color: rgba(var(--color_contrast), 1);
            color: rgba(var(--color_base), 1);
        }
    }

    /* Size
    ---------------------------------------------------------------------- */
    &.small {
        vertical-align: middle;
        height: $height--badge-small;
        line-height: $height--badge-small;
        border-radius: calc(var(--borderRadius_form) / 2);
        font-size: 0.645rem;
        padding: 0 5px;
    }

    /* Spacing
    ---------------------------------------------------------------------- */
    &.leftSpacing {
        margin-left: var(--spacing_small);
    }

    &.rightSpacing {
        margin-right: var(--spacing_small);
    }
}
