@import "../../../styles/base";

/* ===================================================================
   BADGE
   =================================================================== */

$borderWidth: var(--badge_borderWidth, 1px);
$height: var(--badge_height, 22px);
$heightSmall: var(--badge_heightSmall, 17px);
$fontWeight: var(--badge_fontWeight, var(--fontWeight_bold));
$fontWeightNumbers: var(--badge_fontWeightNumbers, var(--fontWeight_medium));
$fontSize: var(--badge_fontSize, var(--fontSize_tiny));

.base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $height;
    padding: 0 7px;
    font-size: $fontSize;
    border: $borderWidth solid rgba(var(--color_base), 0.4);
    font-weight: $fontWeight;
    text-transform: uppercase;
    border-radius: var(--borderRadius_form);
    color: rgba(var(--color_base), 0.8);
    letter-spacing: .5px;

    /* Filled
    ---------------------------------------------------------------------- */
    &.fill {
        background-color: rgba(var(--color_base), 1);
        border-color: rgba(var(--color_base), 1);
        color: rgba(var(--color_contrast), 1);
    }

    /* Number
    ---------------------------------------------------------------------- */
    &.number {
        border-radius: $height;
        padding: 0 5px;
        font-weight: $fontWeightNumbers;
        min-width: $height;
        text-align: center;
    }

    /* Badge variants
    ---------------------------------------------------------------------- */
    &.primary {
        border-color: rgba(var(--color_primary), 1);
        background-color: transparent;
        color: rgba(var(--color_primary), 1);

        &.fill {
            background-color: rgba(var(--color_primary), 1);
            color: rgba(var(--color_primaryContrast), 1);
        }
    }

    &.accent {
        border-color: rgba(var(--color_accent), 1);
        background-color: transparent;
        color: rgba(var(--color_accent), 1);

        &.fill {
            background-color: rgba(var(--color_accent), 1);
            color: rgba(var(--color_accentContrast), 1);
        }
    }

    &.silent {
        border-color: rgba(var(--color_base), 0.10);
        background-color: transparent;
        color: rgba(var(--color_base), 0.4);

        &.fill {
            border-color: transparent;
            background-color: rgba(var(--color_base), 0.10);
            color: rgba(var(--color_base), 0.4);
        }
    }

    &.info {
        border-color: rgba(var(--color_info), 1);
        background-color: transparent;
        color: rgba(var(--color_info), 1);

        &.fill {
            background-color: rgba(var(--color_info), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.error {
        border-color: rgba(var(--color_error), 1);
        background-color: transparent;
        color: rgba(var(--color_error), 1);

        &.fill {
            background-color: rgba(var(--color_error), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.warning {
        border-color: rgba(var(--color_warning), 1);
        background-color: transparent;
        color: rgba(var(--color_warning), 1);

        &.fill {
            background-color: rgba(var(--color_warning), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.success {
        border-color: rgba(var(--color_success), 1);
        background-color: transparent;
        color: rgba(var(--color_success), 1);

        &.fill {
            background-color: rgba(var(--color_success), 1);
            color: rgba(var(--color_statusText), 1);
        }
    }

    &.contrast {
        border-color: rgba(var(--color_contrast), 1);
        background-color: transparent;
        color: rgba(var(--color_contrast), 1);

        &.fill {
            background-color: rgba(var(--color_contrast), 1);
            color: rgba(var(--color_base), 1);
        }
    }

    /* Size
    ---------------------------------------------------------------------- */
    &.small {
        vertical-align: middle;
        height: $heightSmall;
        line-height: $heightSmall;
        border-radius: calc(var(--borderRadius_form) / 2);
        font-size: 0.645rem;
        padding: 0 5px;
    }

    /* Spacing
    ---------------------------------------------------------------------- */
    &.leftSpacing {
        margin-left: var(--spacing_small);
    }

    &.rightSpacing {
        margin-right: var(--spacing_small);
    }


    /* Placement
    ---------------------------------------------------------------------- */

    &.placeCorner {
        position: absolute;
        transform: translate(60%, -60%);
    }
}
