@import "../../../styles/base";

/* ===================================================================
   BADGE
   =================================================================== */

$borderWidth--badge: 1px;
$height--badge: 21px;
$height--badge-small: 16px;

.base {
    display: inline-block;
    height: $height--badge;
    line-height: $height--badge - 2px;
    padding: 0 7px;
    font-size: $fontSize--tiny;
    box-sizing: border-box;
    border: $borderWidth--badge solid rgba($color--base, 0.4);
    font-weight: $fontWeight--bold;
    text-transform: uppercase;
    border-radius: $borderRadius--regular;
    color: rgba($color--base, 0.8);
    letter-spacing: .5px;

    /* Filled
    ---------------------------------------------------------------------- */
    &.fill {
        background-color: $color--base;
        border-color: $color--base;
        color: $color--contrast;
    }

    /* Number
    ---------------------------------------------------------------------- */
    &.number {
        border-radius: $height--badge;
    }

    /* Badge variants
    ---------------------------------------------------------------------- */
    &.primary {
        border-color: $color--primary;
        background-color: transparent;
        color: $color--primary;

        &.fill {
            background-color: $color--primary;
            color: $color--contrast;
        }
    }

    &.silent {
        border-color: rgba($color--base, 0.10);
        background-color: transparent;
        color: rgba($color--base, 0.4);

        &.fill {
            border-color: transparent;
            background-color: rgba($color--base, 0.10);
            color: rgba($color--base, 0.4);
        }
    }

    &.info {
        border-color: $color--info;
        background-color: transparent;
        color: $color--info;

        &.fill {
            background-color: $color--info;
            color: $color--status-text;
        }
    }

    &.error {
        border-color: $color--error;
        background-color: transparent;
        color: $color--error;

        &.fill {
            background-color: $color--error;
            color: $color--status-text;
        }
    }

    &.warning {
        border-color: $color--warning;
        background-color: transparent;
        color: $color--warning;

        &.fill {
            background-color: $color--warning;
            color: $color--status-text;
        }
    }

    &.success {
        border-color: $color--success;
        background-color: transparent;
        color: $color--success;

        &.fill {
            background-color: $color--success;
            color: $color--status-text;
        }
    }

    &.contrast {
        border-color: $color--contrast;
        background-color: transparent;
        color: $color--contrast;

        &.fill {
            background-color: $color--contrast;
            color: $color--base;
        }
    }

    /* Size
    ---------------------------------------------------------------------- */
    &.small {
        vertical-align: middle;
        height: $height--badge-small;
        line-height: $height--badge-small;
        border-radius: $borderRadius--small;
        font-size: 0.645rem;
        padding: 0 4px;
    }

    /* Spacing
    ---------------------------------------------------------------------- */
    &.leftSpacing {
        margin-left: $spacing--small;
    }

    &.rightSpacing {
        margin-right: $spacing--small;
    }
}
