@import "../../../styles/base";

/* ===================================================================
   CARD USER HEAD
   =================================================================== */

.base {
    position: relative;
    background: rgba(var(--color_primary), 1);
    border-radius: var(--borderRadius_content) var(--borderRadius_content) 0 0;
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        padding: var(--spacing_medium);
        user-select: none;

        .image {
            width: 65px;
            height: 65px;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }

            .placeholder {
                background: rgba(var(--color_primaryContrast), 1);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include m-iconSize($iconSize--large);
                @include m-iconColor(rgba(var(--color_primary), 1));
            }
        }

        .details {
            padding-left: var(--spacing_medium);
            min-width: 0;
            text-align: left;

            .name {
                font-size: var(--fontSize_medium);
                font-weight: var(--fontWeight_medium);
                color: rgba(var(--color_primaryContrast), 1);
                @include m-truncate();
            }

            .email {
                color: rgba(var(--color_primaryContrast), 0.8);
                font-weight: var(--fontWeight_light);
                margin-top: -4px;
                @include m-truncate();
            }
        }
    }
}
