@import "../../../styles/base";

/* ===================================================================
   FILLER
   =================================================================== */

.base {
    display: block;
    height: var(--elementSize_regular);
    line-height: var(--elementSize_regular);
    text-align: center;
    color: rgba(var(--color_base), 0.4);
    border: 1px solid rgba(var(--color_primary), 0.5);
    background-color: rgba(var(--color_primary), 0.1);
    width: 100%;
    overflow: hidden;
}
