@import "../../../styles/base";

/* ===================================================================
   CHECKBOX
   =================================================================== */

$checkbox--size: 28px;

.base {
    cursor: pointer;
    display: inline-block;
    min-height: $checkbox--size;
    user-select: none;
    vertical-align: top;
    position: relative;

    $topBottom-margin: calc((var(--elementSize_regular) - #{$checkbox--size}) / 2);
    margin: $topBottom-margin var(--spacing_medium) $topBottom-margin 0;

    .check {
        position: relative;
        float: left;
        width: $checkbox--size;
        height: $checkbox--size;
        border: var(--input_border);
        border-radius: var(--borderRadius_form);
        transition: all 0.2s ease;
        background-color: rgba(var(--color_contrast), 1);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            opacity: 0;
            transform: scale(1.5);
            transition: transform .3s cubic-bezier(0.620, 0.055, 0.240, 1.305);
            @include m-iconColor(rgba(var(--color_contrast), 1));
        }
    }

    .label {
        margin-left: $checkbox--size;
        padding: 1px 0 0 var(--spacing_regular);
        color: rgba(var(--color_base), 0.8);
        transition: all 0.2s ease;
        min-height: $checkbox--size;
        display: flex;
        align-items: center;
    }

    &:hover {
        .check {
            border-color: var(--input_borderFocus);
        }

        .label {
            color: rgba(var(--color_base), 1);
        }
    }

    // Embedded
    &.embedded {
        display: block;
        margin: 0;
    }

    // STATE: Checked
    &.isChecked {
        .check {
            border-color: transparent;
            background-color: rgba(var(--color_primary), 1);

            .icon {
                opacity: 1;
                transform: scale(1);
            }
        }

        .label {
            color: rgba(var(--color_base), 1);
        }
    }


    // Hidden input
    input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;

        &:focus + label {
            .check {
                box-shadow: var(--input_boxShadowFocus);
                border: var(--input_borderFocus);
            }
        }
    }

    label {
        cursor: pointer;
    }
}

