@import "../../../styles/base";

/* ===================================================================
   ICON
   =================================================================== */

// Base
.base {
    display: none;
    line-height: 1;

    svg {
        display: block;
        fill: rgba(var(--color_base), 1);
        vertical-align: top;
        width: $iconSize--regular;
        height: $iconSize--regular;
    }

    // For presenting icons in a grid
    &.presentation {
        width: 100%;
        border: 1px solid rgba(var(--color_base), 0.10);
        border-radius: var(--borderRadius_content);
        text-align: center;
        padding: var(--spacing_large) var(--spacing_small);
        @include m-iconColor(rgba(var(--color_primary), 1));
        @include m-iconSize($iconSize--large);
        margin-bottom: var(--spacing_regular);
        min-height: 120px;
        background: rgba(var(--color_contrast), 1);

        svg {
            display: inline-block;
        }

        .label {
            margin-top: var(--spacing_medium);
            display: block;
            color: rgba(var(--color_base), 0.8);
        }
    }

    // Loaded
    &.loaded {
        display: inline-block;
    }
}

// Colors
.colorContrast {
    @include m-iconColor(rgba(var(--color_contrast), 1), true);
}

.colorInfo {
    @include m-iconColor(rgba(var(--color_info), 1), true);
}

.colorPrimary {
    @include m-iconColor(rgba(var(--color_primary), 1), true);
}

.colorSuccess {
    @include m-iconColor(rgba(var(--color_success), 1), true);
}

.colorWarning {
    @include m-iconColor(rgba(var(--color_warning), 1), true);
}

.colorError {
    @include m-iconColor(rgba(var(--color_error), 1), true);
}

// Sizes
.sizeSmall {
    svg {
        width: $iconSize--small;
        height: $iconSize--small;
    }
}

.sizeMedium {
    svg {
        width: $iconSize--medium;
        height: $iconSize--medium;
    }
}

.sizeLarge {
    svg {
        width: $iconSize--large;
        height: $iconSize--large;
    }
}

.sizeXLarge {
    svg {
        width: $iconSize--large-x;
        height: $iconSize--large-x;
    }
}

.sizeXXLarge {
    svg {
        width: $iconSize--large-xx;
        height: $iconSize--large-xx;
    }
}

// Margins
.marginRight {
    margin-right: var(--spacing_small);
}

.marginLeft {
    margin-left: var(--spacing_small);
}

// Animation
.rotate {
    animation: rotate 1.5s infinite linear;
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
