@import "../../../styles/base";

/* ===================================================================
   ICON
   =================================================================== */

// Base
.base {
    display: none;
    line-height: 1;

    svg {
        display: block;
        fill: $color--base;
        vertical-align: top;
        width: $iconSize--regular;
        height: $iconSize--regular;
    }

    // For presenting icons in a grid
    &.presentation {
        width: 100%;
        border: 1px solid rgba($color--base, 0.10);
        border-radius: $borderRadius--regular;
        text-align: center;
        padding: $spacing--large $spacing--small;
        @include m-iconColor($color--primary);
        @include m-iconSize($iconSize--large);
        margin-bottom: $spacing--regular;
        min-height: 120px;
        background: $color--contrast;

        svg {
            display: inline-block;
        }

        .label {
            margin-top: $spacing--medium;
            display: block;
            color: rgba($color--base, 0.8);
        }
    }

    // Loaded
    &.loaded {
        display: inline-block;
    }
}

// Colors
.colorContrast {
    @include m-iconColor($color--contrast, true);
}

.colorInfo {
    @include m-iconColor($color--info, true);
}

.colorPrimary {
    @include m-iconColor($color--primary, true);
}

.colorSuccess {
    @include m-iconColor($color--success, true);
}

.colorWarning {
    @include m-iconColor($color--warning, true);
}

.colorError {
    @include m-iconColor($color--error, true);
}

// Sizes
.sizeSmall {
    svg {
        width: $iconSize--small;
        height: $iconSize--small;
    }
}

.sizeMedium {
    svg {
        width: $iconSize--medium;
        height: $iconSize--medium;
    }
}

.sizeLarge {
    svg {
        width: $iconSize--large;
        height: $iconSize--large;
    }
}

.sizeXLarge {
    svg {
        width: $iconSize--large-x;
        height: $iconSize--large-x;
    }
}

.sizeXXLarge {
    svg {
        width: $iconSize--large-xx;
        height: $iconSize--large-xx;
    }
}

// Margins
.marginRight {
    margin-right: $spacing--small;
}

.marginLeft {
    margin-left: $spacing--small;
}

// Animation
.rotate {
    animation: rotate 1.5s infinite linear;
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
