@import "../../../styles/base";

/* ===================================================================
   FORM ITEM
   =================================================================== */

$marginBottom: var(--formItem_marginBottom, var(--spacing_small));

.base {
    // LABEL
    .label {
        position: relative;

        label {
            display: block;
            font-size: var(--fontSize_regular);
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_base), 1);
            margin-bottom: $marginBottom;
            @include m-truncate();

            .colon {
                padding: 0 var(--spacing_small) 0 2px;
            }
        }
    }

    // FIELD
    .field {
        display: block;
    }

    .info {
        position: absolute;
        top: 2px;
        right: 0;

        .icon {
            @include m-iconColor(rgba(var(--color_base), 0.2));
        }

        &.visible {
            .icon {
                @include m-iconColor(rgba(var(--color_primary), 1));
            }
        }
    }

    .infoText {
        font-size: var(--fontSize_small);
        color: rgba(var(--color_base), 0.6);
        padding-top: var(--spacing_small);
    }

    // ERROR
    &.error {
        .label label {
            color: rgba(var(--color_error), 1);
        }

        .infoText {
            color: rgba(var(--color_error), 1);
        }
    }
}
