@import "../../../styles/base";

/* ===================================================================
   FORM ITEM
   =================================================================== */


.base {
    margin-bottom: var(--spacing_medium);

    // LABEL
    .label {
        label {
            display: block;
            font-size: var(--fontSize_regular);
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_base), 1);
            margin-bottom: var(--spacing_small);
            @include m-truncate();

            .colon {
                padding: 0 var(--spacing_small) 0 2px;
            }
        }
    }

    // FIELD
    .field {
        display: block;
    }

    .infoText {
        font-size: var(--fontSize_small);
        color: rgba(var(--color_base), 0.6);
        padding-top: var(--spacing_small);
    }

    &:last-child {
        margin-bottom: 0;
    }


    // ERROR
    &.error {
        .label label {
            color: rgba(var(--color_error), 1);
        }

        .infoText {
            color: rgba(var(--color_error), 1);
        }
    }

}
