@import "../../../styles/base";

/* ===================================================================
   FORM ITEM
   =================================================================== */


.base {
    margin-bottom: $spacing--medium;

    // LABEL
    .label {
        label {
            display: block;
            font-size: $fontSize--regular;
            font-weight: $fontWeight--medium;
            color: $color--base;
            margin-bottom: $spacing--small;
            @include m-truncate();

            .colon {
                padding: 0 $spacing--small 0 2px;
            }
        }
    }

    // FIELD
    .field {
        display: block;
    }

    .infoText {
        font-size: $fontSize--small;
        color: rgba($color--base, 0.6);
        padding-top: $spacing--small;
    }

    &:last-child {
        margin-bottom: 0;
    }


    // ERROR
    &.error {
        .label label {
            color: $color--error;
        }

        .infoText {
            color: $color--error;
        }
    }

    // RESPONSIVE
    @include for-desktop-up() {
        &.responsive {
            .label {
                label {
                    text-align: right;
                    line-height: $size--element-regular;
                    margin-bottom: 0;
                }
            }
        }
    }
}
