@import "../../../styles/base";

/* ===================================================================
   SELECT
   =================================================================== */

$backgroundColor: var(--select_backgroundColor, var(--input_backgroundColor));

.base {
    position: relative;

    &:hover {
        .arrow {
            .icon {
                @include m-iconColor(rgba(var(--color_base), 0.6), true);
            }
        }
    }

    // ARROW
    .arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        right: var(--spacing_regular);
        pointer-events: none;
        display: flex;
        align-items: center;

        .icon {
            @include m-iconSize(10px);
            @include m-iconColor(rgba(var(--color_base), 0.20), true);
        }
    }

    &.placeholder {
        .select {
            color: rgba(var(--color_base), 0.4);
        }
    }

    // SELECT
    .select {
        display: inline-block;
        height: var(--elementSize_regular);
        width: 100%;
        outline: none;
        padding: 0 var(--elementSize_regular) 0 10px;
        border: var(--input_border);
        font-family: var(--fontFamily_primary);
        font-size: var(--fontSize_regular);
        color: rgba(var(--color_base), 0.8);
        border-radius: var(--borderRadius_form);
        transition: border-color 0.3s ease;
        background-color: $backgroundColor;
        appearance: none;
        box-shadow: var(--input_boxShadow, "none");

        &:focus {
            border: var(--input_borderFocus);
            color: rgba(var(--color_base), 1);
            box-shadow: var(--input_boxShadowFocus);
            background-color: var(--input_backgroundColorFocus, $backgroundColor);
        }
    }


    // STATE: Error
    &.error {
        .select {
            border: var(--input_borderError);

            &:focus {
                box-shadow: var(--input_boxShadowError);
            }
        }
    }


    // STATE: Disabled
    &.disabled {

        .arrow {
            .icon {
                @include m-iconColor(rgba(var(--color_base), 0.10));
            }
        }

        .select {
            cursor: not-allowed;
            background-color: rgba(var(--color_base), 0.03);
            border-color: rgba(var(--color_base), 0.10);
            color: rgba(var(--color_base), 0.4);
        }
    }



    // SIZE: Small
    &.sizeSmall {
        .select {
            height: var(--elementSize_small);
            font-size: var(--fontSize_small);
            padding-right: var(--elementSize_small);
        }
    }

    // SIZE: Big
    &.sizeBig {
        .select {
            height: var(--elementSize_big);
            font-size: var(--fontSize_medium);
        }
    }

}
