@import "../../../styles/base";

/* ===================================================================
   SPLASH TITLE
   =================================================================== */

// Title
.title {
    color: rgba(var(--splash_foregroundColor), 1);
    width: 40%;
    max-width: $breakpoint--tablet-landscape;
    display: flex;
    align-items: center;

    .logo {
        position: absolute;
        top: calc(var(--spacing_large) * 2);
        left: calc(var(--spacing_large) * 2);
    }

    .wrapper {
        width: 100%;
        padding: calc(var(--spacing_large) * 2);
    }
}
