@import "../../../styles/base";

/* ===================================================================
   SPLASH
   =================================================================== */

.base {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--splash_backgroundColor), 1);

    .center {
        position: relative;

        .logo {
            position: absolute;
            top: 0;
            width: 100%;
            transform: translateY(-100%);
            text-align: center;
            padding: var(--spacing_medium) var(--spacing_edges);
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box {
            background-color: rgba(var(--color_primaryContrast), 1);
            overflow: hidden;
            box-shadow: var(--boxShadow_large);
            min-width: 400px;
            animation: boxShow .3s ease-in-out;
            border-radius: var(--borderRadius_content);
        }

    }

    // Footer
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: rgba(var(--splash_foregroundColor), 0.5);
        margin: 0 auto;
        text-align: center;
        padding: var(--spacing_medium) var(--spacing_edges);
    }


    // RESPONSIVE
    @include for-phone-only(){
        position: static;
        display: block;
        min-height: 100vh;

        .center {
            min-height: 90vh;

            .logo {
                position: static;
                transform: none;
                min-height: 150px;
            }
            .box {
                min-width: auto;
                margin: 0 var(--spacing_edges);
            }
        }

        .footer {
            position: static;
        }
    }
}





@keyframes boxShow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
