@import "../../../styles/base";

/* ===================================================================
   SPLASH
   =================================================================== */

.base {
    display: flex;
    min-height: 100vh;
    background-color: rgba(var(--splash_backgroundColor), 1);

    // RESPONSIVE
    @include for-tablet-down(){
        flex-direction: column;
    }
}

