@import "../../../styles/base";

/* ===================================================================
   SPLASH
   =================================================================== */

$height--bar: 60px;

.base {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color--primary;

    .center {
        position: relative;

        .logo {
            position: absolute;
            top: 0;
            width: 100%;
            transform: translateY(-100%);
            text-align: center;
            padding: $spacing--large-x 0;
        }

        .box {
            background-color: $color--primary-contrast;
            overflow: hidden;
            box-shadow: $boxShadow--large;
            min-width: 400px;
            animation: boxShow .3s ease-in-out;
            border-radius: $borderRadius--regular;
        }

    }

    // Footer
    .footer {
        position: absolute;
        bottom: $spacing--medium;
        width: 100%;
        color: rgba($color--primary-contrast, 0.5);
        margin: 0 auto;
        text-align: center;
        padding: 0 $spacing--phone-edge;
    }


    // RESPONSIVE
    @include for-phone-only(){
        position: static;
        display: block;
        min-height: 100vh;

        .center {
            .logo {
                position: static;
                transform: none;
                padding: $spacing--large-x $spacing--phone-edge;
            }
            .box {
                min-width: auto;
                margin: 0 $spacing--phone-edge;
                padding: $spacing--regular 0;
            }
        }

        .footer {
            position: static;
            padding: $spacing--large-xx 0 $spacing--large;
        }
    }
}





@keyframes boxShow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
