@import "../../../styles/base";

/* ===================================================================
   PAGE
   =================================================================== */

.base {
    .topBox {
        position: relative;
    }

    .mainBox {
        position: relative;
        display: block;
        padding: $spacing--large;
        max-width: $breakpoint--big-desktop;
        margin: 0 auto;

        @include for-tablet-portrait-down(){
            padding: $spacing--medium $spacing--phone-edge;
        }

        @include for-phone-only(){
            padding: $spacing--medium 0;
        }
    }
}

