@import "../../../styles/base";

/* ===================================================================
   PAGE
   =================================================================== */

.base {
    .topBox {
        position: relative;
    }

    .mainBox {
        position: relative;
        display: block;
        padding: var(--spacing_large);
        max-width: $breakpoint--big-desktop;
        margin: 0 auto;

        @include for-tablet-portrait-down(){
            padding: var(--spacing_medium) var(--spacing_edges);
        }

        @include for-phone-only(){
            padding: var(--spacing_medium) 0;
        }
    }
}

