@import "../../../styles/base";

/* ===================================================================
   ARROW
   =================================================================== */

.base {
    transform-origin: center bottom;

    svg {
        display: block;
        height: auto;
        width: 100%;
    }

    &.colorContrast {
        svg {
            fill: rgba(var(--color_contrast), 1);
        }
    }

    &.colorPrimary {
        svg {
            fill: rgba(var(--color_primary), 1);
        }
    }

    &.colorAccent {
        svg {
            fill: rgba(var(--color_accent), 1);
        }
    }
}
