@import "../../../styles/base";

/* ===================================================================
   ARROW
   =================================================================== */

.base {
    transform-origin: center bottom;
    width: 0;

    svg {
        transform: translateX(-50%);
        display: block;
        width: 20px;
        height: auto;
    }

    &.colorContrast {
        svg {
            fill: $color--contrast;
        }
    }

    &.colorPrimary {
        svg {
            fill: $color--primary;
        }
    }

    &.colorAccent {
        svg {
            fill: $color--primary-accent;
        }
    }
}
