@import "../../../styles/base";

/* ===================================================================
   ITEM LIST ITEM
   =================================================================== */

.item {
    display: flex;
    border-bottom: 1px solid rgba($color--base, 0.05);
    user-select: none;
    overflow: hidden;
    background-color: $color--contrast;
    min-height: $size--element-regular;
    padding: 5px;

    // Content
    .content {
        position: relative;
        flex-grow: 1;
        padding: 5px 0;
        display: flex;
        align-items: center;

        .wrapper {
            max-width: 100%;
            line-height: $lineHeight--small;
            @include m-truncate();
        }

    }

    // Prepend
    .prepend {
        display: flex;
        align-items: center;
        margin-right: $spacing--regular;
    }

    // Append
    .append {
        display: flex;
        align-items: center;
        margin-left: $spacing--regular;
    }

    // Handle
    .handle {
        min-height: 100%;
        padding: 0 $spacing--regular;
        cursor: ns-resize;
        display: flex;
        align-items: center;

        .icon {
            vertical-align: 2px;
            @include m-iconColor(rgba($color--base, 0.15));
        }

    }


    &:last-child {
        border-bottom: none;
    }

    // STATE: Clickable
    &.clickable {
        &:hover {
            cursor: pointer;
        }
    }

    // STATE: Is dragged
    &.isDragged {
        background-color: $color--contrast;
        box-shadow:$boxShadow--large;
        z-index: $zIndex--itemList-draggedItem;
    }
}
