@import "../../../styles/base";

/* ===================================================================
   ITEM LIST ITEM
   =================================================================== */

.item {
    display: flex;
    border-bottom: 1px solid rgba(var(--color_base), 0.08);
    user-select: none;
    background-color: rgba(var(--color_backgroundContent), 1);
    min-height: var(--elementSize_regular);
    column-gap: 10px;
    padding: 0.5rem;

    // Content
    .content {
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        min-width: 0;

        .wrapper {
            max-width: 100%;
            line-height: var(--lineHeight_small);
        }
    }

    // Prepend
    .prepend {
        display: flex;
        align-items: center;
        white-space: nowrap;

        .wrapper {
            display: flex;
            align-items: center;
            column-gap: var(--spacing_regular);
        }
    }
    &.prependAlignTop {
        .prepend {
            align-items: flex-start;
        }
    }

    // Append
    .append {
        display: flex;
        align-items: center;
        white-space: nowrap;

        .wrapper {
            display: flex;
            align-items: center;
            column-gap: var(--spacing_regular);
        }
    }
    &.appendAlignTop {
        .append {
            align-items: flex-start;
        }
    }

    // Handle
    .handle {
        min-height: 100%;
        padding: 0 var(--spacing_regular);
        cursor: ns-resize;
        display: flex;
        align-items: center;

        .icon {
            vertical-align: 2px;
            @include m-iconColor(rgba(var(--color_base), 0.15));
        }

        &:hover {
            .icon {
                @include m-iconColor(rgba(var(--color_base), 0.5));
            }
        }
    }

    &:last-child {
        border-bottom: none;
    }

    // STATE: Clickable
    &.clickable {
        &:hover {
            cursor: pointer;
        }
    }
}

// STATE: Is dragged
:global {
    .itemList_isDragging {
        box-shadow: var(--boxShadow_pop);
        z-index: $zIndex--itemList-draggedItem;
    }
}
