@import "../../../styles/base";

/* ===================================================================
   LOADER HORIZONTAL
   =================================================================== */

$loader--height: 6px;

.base {
    width: 100%;
    height: $loader--height;
    overflow: hidden;
    background: rgba(var(--color_primary), 1);
    margin: auto;
    border-radius: $loader--height;

    .bar {
        width: 100%;
        height: $loader--height;
        background-color: rgba(var(--color_background), 1);
        margin-top: 0;
        margin-left: -100%;
        animation-name: loaderAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes loaderAnimation {
        0% {
            margin-left: -100%;
        }

        100% {
            margin-left: 100%;
        }
    }

}
