@import "../../../styles/base";

/* ===================================================================
   POP OVER
   =================================================================== */

$backgroundColor: var(--popOver_backgroundColor, rgba(var(--color_backgroundPop), 1));
$distance-pop: 20px;

.base {
    position: relative;
    cursor: default;

    .pop {
        position: fixed;
        display: table;
        right: 0;
        z-index: $zIndex--popOver;
        width: 260px;
        opacity: 0;
        pointer-events: none;

        .wrapper {
            position: relative;
            z-index: 2;
            left: -50%;
        }

        .arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            pointer-events: none;
            z-index: 3;

            svg {
                fill: $backgroundColor;
            }

            &.colorPrimary {
                svg {
                    fill: rgba(var(--color_primary), 1);
                }
            }
        }

        .content {
            overflow: hidden;
            box-shadow: var(--boxShadow_pop);
            background-color: $backgroundColor;
            font-weight: var(--fontWeight_regular);
            border-radius: var(--borderRadius_content);
        }
    }

    &.visible {
        .pop {
            opacity: 1;
            transform: translateY(0) !important;
            transition: transform .2s ease-in-out, opacity .2s linear;

            .wrapper {
                pointer-events: auto;
            }
        }
    }

    // SIZES
    &.sizeLarge {
        .pop {
            width: 300px;
        }
    }

    &.sizeAuto {
        .pop {
            width: auto;
        }
    }


    // PADDING

    &.paddingSmall {
        .pop .wrapper .content {
            padding: var(--spacing_small);
        }
    }

    &.paddingRegular {
        .pop .wrapper .content {
            padding: var(--spacing_regular);
        }
    }

    &.paddingMedium {
        .pop .wrapper .content {
            padding: var(--spacing_medium);
        }
    }

    &.paddingLarge {
        .pop .wrapper .content {
            padding: var(--spacing_large);
        }
    }
}
