@import "../../../styles/base";

/* ===================================================================
   POP OVER
   =================================================================== */

$distance-pop: 18px;

.base {
    position: relative;

    .pop {
        position: fixed;
        right: 0;
        z-index: $zIndex--popOver;
        width: 260px;
        opacity: 0;
        pointer-events: none;
        box-shadow: $boxShadow--large;
        transform: translateY(0);
        transition: transform .2s ease-in-out, opacity .2s linear;
        background-color: $color--contrast;
        font-weight: $fontWeight--regular;
        border-radius: $borderRadius--regular;

        .wrapper {
            z-index: 2;
            border-radius: $borderRadius--regular;
            overflow: hidden;
        }

        .arrow {
            position: absolute;
            top: 2px;
            transform: rotate(180deg) scaleX(0.8) translateX(-10px);

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                box-sizing: border-box;
                border: 8px solid black;
                border-color: transparent transparent $color--contrast $color--contrast;
                transform-origin: 0 0;
                transform: rotate(-45deg);
            }

            &.colorPrimary:after {
                border-color: transparent transparent $color--primary $color--primary;
            }
        }
    }

    &.visible {
        .pop {
            opacity: 1;
            pointer-events: auto;
            transform: translateY($distance-pop);
        }

        &.onTop {
            .pop {
                transform: translateY(-$distance-pop);
            }
        }
    }

    &.onTop {
        .pop {
            .arrow {
                bottom: 0;
                transform: rotate(0deg) scaleX(0.8) translateX(-10px) translateY(100%);
            }
        }
    }

    // SIZES
    &.sizeLarge {
        .pop {
            width: 300px;
        }
    }
}
