@import '../../../styles/base';

/* ===================================================================
   SPINNER
   =================================================================== */

$width--spinner: var(--elementSize_regular);
$color--spinner: rgba(var(--color_base), 0.6);

.base {
    position: relative;
    margin: 0 auto;
    width: $width--spinner;

    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
        stroke: $color--spinner;
        stroke-width: 3px;
        stroke-miterlimit: 10px;
    }

}

.large {
    width: 80px;
}

@keyframes rotate {
    100% {
        transform: rotate(359deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%, 0% {
        stroke: rgba(var(--color_primary), 1);
    }
    50% {
        stroke: rgba(var(--color_primaryAccent), 1);
    }
}
