@import "../../../styles/base";

/* ===================================================================
   TOOLBAR
   =================================================================== */

$height: var(--elementSize_big);
$spacing: var(--spacing_regular);

.base {
    position: relative;
    display: flex;
    align-items: center;

    .item {
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: $spacing;
        position: relative;
        z-index: 1;
        flex-grow: 0;
        flex-shrink: 0;

        > * {
            flex: 1;
        }

        &.grow {
            flex-grow: 1;
        }

        &.shrink {
            flex-shrink: 1;
        }

        &.spacingNone {
            padding: 0;
        }

        &.spacingMedium {
            padding: 0 var(--spacing_medium);
        }

        &.truncate {
            @include m-truncate();
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
