@import "../../../styles/base";
@import "config";

/* ===================================================================
   APP NAV
   =================================================================== */

.base {
    position: relative;
    z-index: $zIndex--appNav;

    .content {
        position: relative;
        width: $appNav--width;
        height: 100vh;
        z-index: 2;
        background: $color--nav-sidebar-background;

        .logo {
            height: $appBar--height;
            background: $color--nav-accent;
            overflow: hidden;
            display: flex;
            justify-content: left;

            .wrapper {
                margin: 0 $spacing--nav-sides;
                svg {
                    height: 100%;
                }
            }
        }

        .header {
            padding: $spacing--nav-sides $spacing--nav-sides $spacing--large-x;

            .title {
                color: $color--nav-text;
            }
        }

        .fade {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
            background: $color--nav-sidebar-background;
            z-index: 2;
            pointer-events: none;
        }

        .menu {
            padding-bottom: 100px;
        }
    }

    .overlay {
        display: none;
        z-index: 1;
        backdrop-filter: blur(1px);
    }
}

/* RESPONSIVE: Table landscape down
---------------------------------------------------------------------- */
@include for-tablet-landscape-down() {
    .base {
        .content {
            position: fixed;
            left: -$appNav--width;
            transition: left 0.2s ease-in-out, box-shadow 0.3s linear;
        }

        .overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color--contrast, 0.9);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &.isActive {
            .content {
                left: 0;
                box-shadow: $boxShadow--medium;
            }

            .overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
