@import "../../../styles/base";
@import "config";

/* ===================================================================
   APP NAV
   =================================================================== */

$backgroundColor: var(--navMain_backgroundColor);
$foregroundColor: var(--navMain_foregroundColor);
$logoBackgroundColor: var(--navLogo_backgroundColor, var(--navMain_accentColor));
$logoFill: var(--navLogo_fill, var(--navMain_foregroundColor));

.base {
    position: relative;
    z-index: $zIndex--appNav;

    .content {
        position: relative;
        width: $appNav--width;
        height: 100vh;
        z-index: 2;
        background: rgba($backgroundColor, 1);
        display: flex;
        flex-direction: column;

        .logo {
            min-height: $appBar--height;
            background: rgba($logoBackgroundColor, 1);
            overflow: hidden;
            display: flex;
            justify-content: left;
            flex-shrink: 0;

            .wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                    fill: rgba($logoFill, 1);
                }
            }
        }

        .container {
            position: relative;
            flex-grow: 1;

            .wrapper {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .topFade, .bottomFade {
                position: absolute;
                left: 0;
                right: 0;
                z-index: 2;
                pointer-events: none;
            }

            .topFade {
                height: 25px;
                top: 0;
                background: linear-gradient(to top, rgba($backgroundColor, 0) 0%, rgba($backgroundColor, 1) 100%);
            }

            .bottomFade {
                height: 50px;
                bottom: 0;
                background: linear-gradient(to bottom, rgba($backgroundColor, 0) 0%, rgba($backgroundColor, 1) 100%);
            }
        }

        .header {
            padding: $spacing--nav-sides $spacing--nav-sides calc(var(--spacing_regular) * 3);

            .title {
                color: rgba($foregroundColor, 1);
            }
        }

        .menu {
            padding-bottom: 50px;
        }
    }

    .overlay {
        display: none;
        z-index: 1;
    }
}

// RESPONSIVE
@include for-tablet-down() {
    .base {
        .content {
            position: fixed;
            left: -$appNav--width;
            transition: left 0.2s ease-in-out, box-shadow 0.3s linear;
        }

        .overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &.isActive {
            .content {
                left: 0;
                box-shadow: var(--boxShadow_medium);
            }

            .overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
