@import "../../../styles/base";
@import "config";

/* ===================================================================
   APP NAV
   =================================================================== */

.base {
    position: relative;
    z-index: $zIndex--appNav;

    .content {
        position: relative;
        width: $appNav--width;
        height: 100vh;
        z-index: 2;
        background: rgba(var(--navMain_backgroundColor), 1);
        display: flex;
        flex-direction: column;

        .logo {
            height: $appBar--height;
            background: rgba(var(--navLogo_backgroundColor), 1);
            overflow: hidden;
            display: flex;
            justify-content: left;
            flex-shrink: 0;

            .wrapper {
                margin: 0 $spacing--nav-sides;
                svg {
                    height: 100%;
                }
            }
        }

        .container {
            flex-grow: 1;

            .wrapper {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .fade {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60px;
                background: linear-gradient(to bottom, rgba(var(--navMain_backgroundColor), 0) 0%, rgba(var(--navMain_backgroundColor), 1) 100%);
                z-index: 2;
                pointer-events: none;
            }
        }

        .header {
            padding: $spacing--nav-sides $spacing--nav-sides calc(var(--spacing_regular) * 3);

            .title {
                color: rgba(var(--navMain_foregroundColor), 1);
            }
        }

        .menu {
            padding-bottom: 50px;
        }
    }

    .overlay {
        display: none;
        z-index: 1;
        backdrop-filter: blur(1px);
    }
}

/* RESPONSIVE: Table landscape down
---------------------------------------------------------------------- */
@include for-tablet-landscape-down() {
    .base {
        .content {
            position: fixed;
            left: -$appNav--width;
            transition: left 0.2s ease-in-out, box-shadow 0.3s linear;
        }

        .overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(var(--color_contrast), 0.9);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &.isActive {
            .content {
                left: 0;
                box-shadow: var(--boxShadow_medium);
            }

            .overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
