@import "config";

/* ===================================================================
   APP NAV
   =================================================================== */

.base {
    position: relative;
    z-index: $zIndex--appNav;

    .content {
        width: $appNav--width;
        height: 100vh;
        background: $background--primary;
        z-index: 2;

        .header {
            padding: $spacing--nav-sides $spacing--nav-sides $spacing--large-x;

            .logo {
                margin-bottom: $spacing--large;
            }

            .title {
                color: $color--contrast;
                font-size: $fontSize--heading-4;
                line-height: $lineHeight--heading-4;
                font-weight: $fontWeight--medium;

                .subtitle {
                    font-size: $fontSize--normal;
                    font-weight: $fontWeight--regular;
                    color: rgba($color--contrast, 0.6);
                    margin-top: -5px;
                }
            }
        }

        .fade {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
            background: linear-gradient(to top, rgba($color--accent,1) 0%,rgba($color--accent,0) 100%);
            z-index: 2;
            pointer-events: none;
        }

        .menu {
            padding-bottom: 60px;
        }
    }

    .overlay {
        display: none;
        z-index: 1;
    }
}


/* RESPONSIVE: Table landscape down
---------------------------------------------------------------------- */
@include for-tablet-landscape-down(){
    .base {

        .content {
            position: fixed;
            left: - $appNav--width;
            transition: left .3s ease-in-out, box-shadow .3s linear;
        }

        .overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color--contrast, 0.8);
            pointer-events: none;
            opacity: 0;
            transition: opacity .3s linear;
        }

        &.isActive {
            .content {
                left: 0;
                box-shadow: $boxShadow--medium;
            }

            .overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
