@import "../../../styles/base";

/* ===================================================================
   APP LAYOUT
   =================================================================== */

.base {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(var(--color_background), 1);

    .left {
        position: relative;
    }

    .right {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    &.presentation {
        position: relative;
    }
}
