@import "../../../styles/base";

/* ===================================================================
   GRID ROW
   =================================================================== */

$gutterSmall: var(--spacing_regular);
$gutterRegular: var(--spacing_medium);
$gutterLarge: var(--spacing_large);

$spacingSmall: var(--spacing_regular);
$spacingRegular: var(--spacing_medium);
$spacingLarge: var(--spacing_large);

.row {
    display: flex;
    flex-wrap: wrap;

    // GUTTER

    &.gutter_ver_small {
        margin-left: calc(#{$gutterSmall} / (-2));
        margin-right: calc(#{$gutterSmall} / (-2));
    }

    &.gutter_hor_small {
        margin-top: calc(#{$gutterSmall} * (-1));
    }

    &.gutter_ver_regular {
        margin-left: calc(#{$gutterRegular} / (-2));
        margin-right: calc(#{$gutterRegular} / (-2));
    }

    &.gutter_hor_regular {
        margin-top: calc(#{$gutterRegular} * (-1));
    }

    &.gutter_ver_large {
        margin-left: calc(#{$gutterLarge} / (-2));
        margin-right: calc(#{$gutterLarge} / (-2));
    }

    &.gutter_hor_large {
        margin-top: calc(#{$gutterLarge} * (-1));
    }

    // SPACING
    &.spacing_small {
        margin-bottom: $spacingSmall;
    }

    &.spacing_regular {
        margin-bottom: $spacingRegular;
    }

    &.spacing_large {
        margin-bottom: $spacingLarge;
    }
}
