@import "../../../styles/base";

/* ===================================================================
   GRID ROW
   =================================================================== */

.row {
    display: flex;
    flex-wrap: wrap;


    // GUTTER

    &.gutter_ver_small {
        margin-left: - calc(var(--spacing_regular) / 2);
        margin-right: - calc(var(--spacing_regular) / 2);
    }

    &.gutter_hor_small {
        margin-top: - calc(var(--spacing_regular));
    }

    &.gutter_ver_regular {
        margin-left: - calc(var(--spacing_medium) / 2);
        margin-right: calc(var(--spacing_medium) / 2);
    }

    &.gutter_hor_regular {
        margin-top: - calc(var(--spacing_medium));
    }

    &.gutter_ver_large {
        margin-left: - calc(var(--spacing_large) / 2);
        margin-right: - calc(var(--spacing_large) / 2);
    }

    &.gutter_hor_large {
        margin-top: - calc(var(--spacing_large));
    }


    // SPACING
    &.spacing_small {
        margin-bottom: var(--spacing_regular);
    }

    &.spacing_regular {
        margin-bottom: var(--spacing_medium);
    }

    &.spacing_large {
        margin-bottom: var(--spacing_large);
    }
}
