@import "../../../styles/base";

/* ===================================================================
   GRID ROW
   =================================================================== */

.row {
    display: flex;
    flex-wrap: wrap;


    // GUTTER

    &.gutter_ver_small {
        margin-left: ($grid--gutter-small / -2);
        margin-right: ($grid--gutter-small / -2);
    }

    &.gutter_hor_small {
        margin-top: -$grid--gutter-small;
    }

    &.gutter_ver_regular {
        margin-left: ($grid--gutter-regular / -2);
        margin-right: ($grid--gutter-regular / -2);
    }

    &.gutter_hor_regular {
        margin-top: -$grid--gutter-regular;
    }

    &.gutter_ver_large {
        margin-left: ($grid--gutter-large / -2);
        margin-right: ($grid--gutter-large / -2);
    }

    &.gutter_hor_large {
        margin-top: -$grid--gutter-large;
    }


    // SPACING
    &.spacing_small {
        margin-bottom: $grid--gutter-small;
    }

    &.spacing_regular {
        margin-bottom: $grid--gutter-regular;
    }

    &.spacing_large {
        margin-bottom: $grid--gutter-large;
    }
}
