@import "../../../styles/base";

/* ===================================================================
   GRID ROW
   =================================================================== */



@mixin make-row($gutter) {
    position: relative;
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
    height: auto;
    @include m-clearFix();
}



// Grid system
.row {
    @include make-row($grid--gutter-regular);
    display: block;

    &.bottomSpacing {
        margin-bottom: $grid--gutter-regular;
    }

    &.colSpacing {
        margin-bottom: -$grid--gutter-regular;
    }

    &.gutterSmall {
        @include make-row($grid--gutter-small);

        &.bottomSpacing {
            margin-bottom: $grid--gutter-small;
        }

        &.colSpacing {
            margin-bottom: -$grid--gutter-small;
        }
    }

}
