@import "../../../styles/base";

/* ===================================================================
   GRID ROW
   =================================================================== */



@mixin make-row($gutter: $grid--gutter-regular) {
    position: relative;
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
    height: auto;
    @include m-clearFix();
}

// Grid system
.row {
    @include make-row();
    display: block;
}

.bottomSpacing {
    margin-bottom: $grid--gutter-regular;
}

.colSpacing {
    margin-bottom: -$grid--gutter-regular;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: ($grid--gutter-regular / -2);
    margin-right: ($grid--gutter-regular / -2);

    &:before,
    &:after {
        display: flex;
    }
}

.rowFlexStart {
    justify-content: flex-start;
}

.rowFlexCenter {
    justify-content: center;
}

.rowFlexEnd {
    justify-content: flex-end;
}

.rowFlexSpaceBetween {
    justify-content: space-between;
}

.rowFlexSpaceAround {
    justify-content: space-around;
}

.rowFlexSpaceTop {
    align-items: flex-start;
}

.rowFlexMiddle {
    align-items: center;
}

.rowFlexBottom {
    align-items: flex-end;
}


