@import "../../../styles/base";

/* ===================================================================
   CONTENT WRAPPER
   =================================================================== */

.base {
    position: static;
}

.confinePage {
    margin: 0 auto;
    padding: 0 var(--spacing_edges);
    max-width: $contentWrapper-width;

    @include for-mobile-down() {
        padding: 0 var(--spacing_edgesMobile);
    }
}
