@import "../../../styles/base";

/* ===================================================================
   KEY VALUE LIST
   =================================================================== */

$border: var(--keyValueList_border, 1px solid rgba(var(--color_border), 0.5));

.base {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;

    // VERTICAL
    .row {
        .key {
            @include m-truncate();
            padding: var(--spacing_regular) var(--spacing_large) var(--spacing_regular) var(--spacing_regular);
            color: rgba(var(--color_base), 0.6);
            border-bottom: $border;
        }

        .value {
            width: 99%;
            padding: var(--spacing_regular);
            border-bottom: $border;
        }

        &:last-child {
            .key {
                border-bottom: none;
            }

            .value {
                border-bottom: none;
            }
        }
    }

    // HORIZONTAL
    &.horizontal {
        thead {
            th {
                padding: var(--spacing_small) var(--spacing_regular);
                text-align: center;
                border-right: $border;
                font-weight: var(--fontWeight_medium);

                &:last-child {
                    border-right: 0;
                }
            }
        }

        tbody {
            td {
                padding: var(--spacing_small) var(--spacing_regular);
                text-align: center;
                border-right: $border;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}
