@import "../../../styles/base";

/* ===================================================================
   KEY VALUE LIST
   =================================================================== */

.base {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    border-radius: $borderRadius--regular;

    // VERTICAL
    &.vertical {
        .row {

            .key {
                padding: $spacing--normal;
                border-radius: $borderRadius--regular 0 0 $borderRadius--regular;
                color: rgba($color--base, 0.6);
                border-bottom: 1px solid rgba($color--base, 0.05);
            }

            .value {
                padding: $spacing--normal;
                border-radius: 0 $borderRadius--regular $borderRadius--regular 0;
                border-bottom: 1px solid rgba($color--base, 0.05);
                background-color: $color--contrast;
            }

            &:last-child {
                .key {
                    border-bottom: none;
                }

                .value {
                    border-bottom: none;
                }
            }

        }

        &.fluid {
            width: auto;
        }
    }

    // HORIZONTAL
    &.horizontal {
        display: flex;
        overflow: hidden;

        .item {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid rgba($color--base, 0.10);
            margin-right: $spacing--normal;
            padding: $spacing--small 0;

            .label {
                color: rgba($color--base, 0.6);
            }

            .value {

            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }

        &.fluid {
            .item {
                flex-grow: 0;
                padding-right: $spacing--normal;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

}
