/* ===================================================================
   CONFIG
   =================================================================== */

/* LAYERS
---------------------------------------------------------------------- */

// Z-Index
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;

$zIndex--toast: $zIndex-4;
$zIndex--itemList-draggedItem: $zIndex-4;
$zIndex--pageNav: $zIndex-5;
$zIndex--pageActionButton: $zIndex-6;
$zIndex--appBar: $zIndex-7;
$zIndex--appNav: $zIndex-8;
$zIndex--popOver: $zIndex-8;
$zIndex--markupEditorToolbar: $zIndex-9;
$zIndex--popups: $zIndex-10;
$zIndex--userMenu: $zIndex-10;

/* SIZES / DIMENSIONS
---------------------------------------------------------------------- */

// Breakpoints
$breakpoint--mobile: 600px;
$breakpoint--tablet: 900px;
$breakpoint--desktop: 1400px;
$breakpoint--widescreen: 1800px;

// Content wrapper
$contentWrapper-width: 1400px;

// Icon sizes
$iconSize--small: 14px;
$iconSize--regular: 16px;
$iconSize--medium: 20px;
$iconSize--large: 24px;
$iconSize--large-x: 30px;
$iconSize--large-xx: 40px;

$appBar--height: 64px;
$appNav--width: 280px;
