@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800");

/* ===================================================================
   SETTINGS
   =================================================================== */

/* TYPOGRAPHY
---------------------------------------------------------------------- */

// Root size
$fontSize--root: 14px;

// Font family
$fontFamily--primary: "Nunito Sans", sans-serif;

// Font sizes
$fontSize--tiny: 0.785rem;
$fontSize--small: 0.857rem;
$fontSize--regular: 1rem;
$fontSize--medium: 1.142rem;
$fontSize--large: 1.285rem;
$fontSize--heading-4: 1.428rem;
$fontSize--heading-3: 1.8rem;
$fontSize--heading-2: 2.285rem;
$fontSize--heading-1: 2.857rem;

// Line Height
$lineHeight--small: 1.2;
$lineHeight--regular: 1.6;

// Font weight
$fontWeight--light: 300;
$fontWeight--regular: 400;
$fontWeight--medium: 600;
$fontWeight--bold: 800;

/* COLORS
---------------------------------------------------------------------- */

// Base
$color--base: #181c32;
$color--contrast: #ffffff;
$color--background: #e7ebf1;

// Sidebar
$color--nav-sidebar-background: #27273b;
$color--nav-bar-background: #3699ff;
$color--nav-text: #ffffff;
$color--nav-accent: #3699ff;

// Primary color
$color--primary: #3699ff;
$color--primary-shade: #1d354b;
$color--primary-accent: #36bfff;
$color--primary-contrast: #ffffff;

// Status colors
$color--success: #34d896;
$color--error: #ff668d;
$color--warning: #e4bb40;
$color--info: #4aa1db;
$color--attention: #f6fd9a;
$color--status-text: #ffffff;

/* SIZES / DIMENSIONS
---------------------------------------------------------------------- */

// Breakpoints
$breakpoint--tablet-portrait: 600px;
$breakpoint--tablet-landscape: 900px;
$breakpoint--desktop: 1200px;
$breakpoint--big-desktop: 1400px;

// Spacings
$spacing--small: 5px;
$spacing--regular: 10px;
$spacing--medium: 20px;
$spacing--large: 30px;
$spacing--large-x: 50px;
$spacing--large-xx: 75px;
$spacing--phone-edge: 18px;

// Elements sizes
$size--element-small: 36px;
$size--element-regular: 48px;
$size--element-big: 58px;
$size--element-huge: 74px;

// Icon sizes
$iconSize--tiny: 12px;
$iconSize--small: 14px;
$iconSize--regular: 16px;
$iconSize--medium: 20px;
$iconSize--large: 24px;
$iconSize--large-x: 45px;
$iconSize--large-xx: 70px;

// Border radius
$borderRadius--small: 2px;
$borderRadius--regular: 5px;
$borderRadius--medium: 8px;

/* STYLES
---------------------------------------------------------------------- */

// Box shadows
$boxShadow--regular: 0 1px 10px 1px rgba($color--base, 0.08);
$boxShadow--medium: 0 1px 15px 1px rgba($color--base, 0.3);
$boxShadow--large: 0 1px 25px 1px rgba($color--base, 0.3);

/* LAYOUT
---------------------------------------------------------------------- */

$appBar--height: 64px;
$appNav--width: 280px;

// Grid gutter
$grid--gutter-small: $spacing--regular;
$grid--gutter-regular: $spacing--medium;
$grid--gutter-large: $spacing--large;

// Input style
$input--border: 1px solid rgba($color--base, 0.2);
$input--border-focus: 1px solid $color--primary;
$input--border-error: 1px solid $color--error;
$input--boxShadow-focus: 0 0 5px 0 rgba($color--primary, 0.3);
$input--boxShadow-error: 0 0 5px 0 rgba($color--error, 0.3);

// Content
$content--backgroundColor: #ffffff;
$content--borderRadius: $borderRadius--regular;
