@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800");

/* ===================================================================
   SETTINGS
   =================================================================== */


/* TYPOGRAPHY
---------------------------------------------------------------------- */

// Root size
$fontSize--root:                     14px;

// Font family
$fontFamily--primary:                'Nunito Sans', sans-serif;

// Font sizes
$fontSize--tiny:                     0.785rem;
$fontSize--small:                    0.857rem;
$fontSize--normal:                   1rem;
$fontSize--medium:                   1.142rem;
$fontSize--large:                    1.285rem;
$fontSize--heading-4:                1.428rem;
$fontSize--heading-3:                1.714rem;
$fontSize--heading-2:                2.285rem;
$fontSize--heading-1:                2.857rem;

// Line Height
$lineHeight--small:                  1.2;
$lineHeight--normal:                 1.6;

// Font weight
$fontWeight--light:                  300;
$fontWeight--regular:                400;
$fontWeight--medium:                 600;
$fontWeight--bold:                   800;



/* LAYERS
---------------------------------------------------------------------- */

// Z-Index
$zIndex-1:                          100;
$zIndex-2:                          200;
$zIndex-3:                          300;
$zIndex-4:                          400;
$zIndex-5:                          500;
$zIndex-6:                          600;
$zIndex-7:                          700;
$zIndex-8:                          800;
$zIndex-9:                          900;
$zIndex-10:                         1000;

$zIndex--toast:                     $zIndex-5;
$zIndex--itemList-draggedItem:      $zIndex-6;
$zIndex--pageActionButton:          $zIndex-6;
$zIndex--overlay:                   $zIndex-7;
$zIndex--appBar:                    $zIndex-7;
$zIndex--appNav:                    $zIndex-8;
$zIndex--popOver:                   $zIndex-8;
$zIndex--popups:                    $zIndex-9;
$zIndex--userMenu:                  $zIndex-9;



/* COLORS
---------------------------------------------------------------------- */

// Base
$color--base:                       #2C2E3E;
$color--contrast:                   #ffffff;
$color--background:                 #E7EBF1;
$color--background-cards:           #ffffff;
$color--background-bar:             #ffffff;

// Primary color
$color--primary:                    #3fb6a8;
$color--primary-accent:             #3fa8b6;
$color--primary-contrast:           #ffffff;

// Secondary color
$color--secondary:                  #474656;
$color--secondary-accent:           #3fb6a8;
$color--secondary-contrast: #e8fffa;

// Status colors
$color--success:                    #34D896;
$color--error:                      #FF668D;
$color--warning:                    #E4BB40;
$color--info:                       #4aa1db;
$color--status-text:                #ffffff;


/* SIZES / DIMENSIONS
---------------------------------------------------------------------- */

// Breakpoints
$breakpoint--tablet-portrait:       600px;
$breakpoint--tablet-landscape:      900px;
$breakpoint--desktop:               1200px;
$breakpoint--big-desktop:           1400px;

// Spacings
$spacing--small:                    5px;
$spacing--normal:                   10px;
$spacing--medium:                   20px;
$spacing--large:                    30px;
$spacing--large-x:                  50px;
$spacing--large-xx:                 75px;
$spacing--phone-edge:               18px;

// Elements sizes
$size--element-small:               34px;
$size--element-normal:              42px;
$size--element-big:                 56px;
$size--element-huge:                74px;

// Icon sizes
$iconSize--tiny:                    12px;
$iconSize--small:                   14px;
$iconSize--normal:                  16px;
$iconSize--medium:                  20px;
$iconSize--large:                   24px;
$iconSize--large-x:                 45px;
$iconSize--large-xx:                70px;

// Border radius
$borderRadius--small:               2px;
$borderRadius--regular:             3px;
$borderRadius--medium:              8px;


/* STYLES
---------------------------------------------------------------------- */

// Box shadows
$boxShadow--regular:                0 1px 10px 1px rgba($color--base, .08);
$boxShadow--medium:                 0 1px 15px 1px rgba($color--base, .3);
$boxShadow--large:                  0 1px 25px 1px rgba($color--base, .3);


/* LAYOUT
---------------------------------------------------------------------- */

$appBar--height:                    64px;
$appNav--width:                     280px;

// Grid gutter
$grid--gutter-small:                $spacing--small;
$grid--gutter-regular:              $spacing--medium;

// Input style
$input--border:                     1px solid rgba($color--base, 0.20);
$input--border-focus:               1px solid $color--primary;
$input--border-error:               1px solid $color--error;
$input--boxShadow-focus:            0 0 0 2px rgba($color--primary, 0.2);
$input--boxShadow-error:            0 0 0 2px rgba($color--error, 0.2);

// Overlay
$overlay--backgroundColor:          rgba($color--base, 0.6);
