/* ===================================================================
   MIXINS
   =================================================================== */

// Icon color
@mixin m-iconColor($color, $withTransition: false) {
    svg {
        fill: $color;

        @if $withTransition {
            transition: fill 0.2s ease;
        }
    }
}

// Icon size
@mixin m-iconSize($size, $maxSize: null) {

    @if unit($size) == '%' {
        span {
            width: $size;
        }
    }

    svg {
        width: $size;
        height: $size;

        @if $maxSize {
            max-width: $maxSize;
        }
    }
}

// Striped background
@mixin m-stripedBackground($color1, $color2, $size) {
    background: repeating-linear-gradient(45deg, $color1, $color1 $size, $color2 $size, $color2 $size * 2);
}

// Truncate text in container
@mixin m-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// CLEARFIX
@mixin m-clearFix() {
    zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}

// BREAKPOINTS
@mixin for-mobile-down {
    @media (max-width: $breakpoint--mobile - 1px) {
        @content;
    }
}
@mixin for-mobile-up {
    @media (min-width: $breakpoint--mobile) {
        @content;
    }
}
@mixin for-tablet-only {
    @media (min-width: $breakpoint--mobile) and (max-width: $breakpoint--tablet - 1px) {
        @content;
    }
}
@mixin for-tablet-up {
    @media (min-width: $breakpoint--tablet) {
        @content;
    }
}
@mixin for-tablet-down {
    @media (max-width: $breakpoint--tablet - 1px) {
        @content;
    }
}
@mixin for-desktop-only {
    @media (min-width: $breakpoint--tablet) and (max-width: $breakpoint--desktop - 1px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: $breakpoint--desktop) {
        @content;
    }
}
@mixin for-desktop-down {
    @media (max-width: $breakpoint--desktop) {
        @content;
    }
}
@mixin for-widescreen-only {
    @media (min-width: $breakpoint--desktop) and (max-width: $breakpoint--widescreen - 1px) {
        @content;
    }
}
@mixin for-widescreen-up {
    @media (min-width: $breakpoint--widescreen) {
        @content;
    }
}
@mixin for-widescreen-down {
    @media (max-width: $breakpoint--widescreen) {
        @content;
    }
}
