
/* ===================================================================
   SETTINGS
   =================================================================== */



/* TYPOGRAPHY
---------------------------------------------------------------------- */

// Font family
$fontFamily--primary:               'Catamaran', sans-serif;
$fontFamily--pixel-adjustment:      2px;

// Font sizes
$fontSize--smallest:                 11px;
$fontSize--small:                    12px;
$fontSize--normal:                   14px;
$fontSize--medium:                   16px;
$fontSize--large:                    18px;
$fontSize--heading-4:                20px;
$fontSize--heading-3:                24px;
$fontSize--heading-2:                32px;
$fontSize--heading-1:                40px;

// Line Height
$lineHeight--smallest:               14px;
$lineHeight--small:                  16px;
$lineHeight--normal:                 20px;
$lineHeight--medium:                 26px;
$lineHeight--large:                  28px;
$lineHeight--heading-4:              30px;
$lineHeight--heading-3:              34px;
$lineHeight--heading-2:              40px;
$lineHeight--heading-1:              62px;

// Font weight
$fontWeight--light:                  300;
$fontWeight--regular:                400;
$fontWeight--medium:                 500;
$fontWeight--bold:                   700;



/* LAYERS
---------------------------------------------------------------------- */

// Z-Index
$zIndex-1:                          100;
$zIndex-2:                          200;
$zIndex-3:                          300;
$zIndex-4:                          400;
$zIndex-5:                          500;
$zIndex-6:                          600;
$zIndex-7:                          700;
$zIndex-8:                          800;
$zIndex-9:                          900;
$zIndex-10:                         1000;

$zIndex--appBar:                    $zIndex-4;
$zIndex--appNav:                    $zIndex-5;
$zIndex--toast:                     $zIndex-5;
$zIndex--itemList-draggedItem:      $zIndex-6;
$zIndex--pageActionButton:          $zIndex-6;
$zIndex--overlay:                   $zIndex-7;
$zIndex--popOver:                   $zIndex-8;
$zIndex--popups:                    $zIndex-9;
$zIndex--userMenu:                  $zIndex-9;



/* COLORS
---------------------------------------------------------------------- */

// Background
$color--background:                 #E7EBF1;

// Base
$color--base:                       #2C2E3E;
$color--base-80:                    rgba($color--base, 0.8);
$color--base-60:                    rgba($color--base, 0.6);
$color--base-50:                    rgba($color--base, 0.5);
$color--base-40:                    rgba($color--base, 0.4);
$color--base-30:                    rgba($color--base, 0.3);
$color--base-25:                    rgba($color--base, 0.25);
$color--base-20:                    rgba($color--base, 0.20);
$color--base-15:                    rgba($color--base, 0.15);
$color--base-10:                    rgba($color--base, 0.1);
$color--base-5:                     rgba($color--base, 0.05);
$color--base-3:                     rgba($color--base, 0.03);
$color--base-1:                     rgba($color--base, 0.01);

// Contrast
$color--contrast:                   #ffffff;

// Main colors
$color--primary:                    #40E9C7; //#408CB7;
$color--accent:                     #A06FDD; //#40AFB7;

// Status colors
$color--success:                    #34D896;
$color--error:                      #FF668D;
$color--warning:                    #E4BB40;
$color--info:                       #4aa1db;
$color--status-text:                #ffffff;

// Social media color
$color--facebook:                   #3B5999;

$background--primary:               linear-gradient(135deg, $color--primary 0%, $color--accent 100%);


/* SIZES / DIMENSIONS
---------------------------------------------------------------------- */

// Breakpoints
$breakpoint--tablet-portrait:       600px;
$breakpoint--tablet-landscape:      900px;
$breakpoint--desktop:               1200px;

// Spacings
$spacing--small:                    5px;
$spacing--normal:                   10px;
$spacing--medium:                   20px;
$spacing--large:                    30px;
$spacing--large-x:                  50px;
$spacing--large-xx:                 75px;
$spacing--phone-edge:               18px;

// Elements sizes
$size--element-small:               34px;
$size--element-normal:              42px;
$size--element-big:                 56px;
$size--element-huge:                74px;

// Icon sizes
$iconSize--tiny:                    12px;
$iconSize--small:                   14px;
$iconSize--normal:                  16px;
$iconSize--medium:                  20px;
$iconSize--large:                   24px;
$iconSize--large-x:                 45px;
$iconSize--large-xx:                70px;

// Border radius
$borderRadius--small:               2px;
$borderRadius--regular:             3px;
$borderRadius--medium:              8px;


/* STYLES
---------------------------------------------------------------------- */

// Box shadows
$boxShadow--regular:                0 1px 10px 1px rgba($color--base, .08);
$boxShadow--medium:                 0 1px 15px 1px rgba($color--base, .2);
$boxShadow--large:                  0 1px 30px 1px rgba($color--base, .2);


/* LAYOUT
---------------------------------------------------------------------- */

$appBar--height:                    64px;
$appNav--width:                     260px;

// Grid gutter
$grid--gutter-small:                $spacing--small;
$grid--gutter-regular:              $spacing--medium;

// Input style
$input--border:                     1px solid $color--base-20;
$input--border-focus:               1px solid $color--primary;
$input--border-error:               1px solid $color--error;
$input--boxShadow-focus:            0 0 0 2px rgba($color--primary, 0.2);
$input--boxShadow-error:            0 0 0 2px rgba($color--error, 0.2);

// Overlay
$overlay--backgroundColor:          rgba($color--base, 0.6);
