@import "base";
@import "themes/default/styles";

/* ===================================================================
   MAIN
   =================================================================== */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: darken($color--background, 10%);
    font-size: $fontSize--root;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: $fontFamily--primary;
    line-height: $lineHeight--regular;
    color: $color--base;
    background-color: $color--background;
}
