@import "../../../styles/base";

/* ===================================================================
   PAGE ACTIONS
   =================================================================== */

$buttonHeight: var(--elementSize_regular);
$backgroundColor: var(--pageActionsButton_backgroundColor, var(--color_primary));
$foregroundColor: var(--pageActionsButton_foregroundColor, var(--color_primaryContrast));
$backgroundColorActive: var(--pageActionsButton_backgroundColorActive, var(--color_primary));
$borderRadius: var(--pageActionsButton_borderRadius, $buttonHeight);
$boxShadow: var(--pageActionsButton_boxShadow, 0 0.3rem 15px rgba(0, 0, 0, 0.2));
$padding: 0rem;

.base {
    position: absolute;
    right: 0;
    top: calc((var(--spacing_large) + #{$buttonHeight} + #{$padding} * 2) * -1);

    // Action button
    .button {
        padding: $padding;
        background-color: rgba(var(--color_backgroundShade), 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadius;
        transition: transform 0.2s cubic-bezier(0.62, 0.055, 0.24, 1.305), background-color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        user-select: none;
        cursor: pointer;
        box-shadow: var(--boxShadow_pop);
        @include m-iconColor(rgba($foregroundColor, 1));

        .symbol {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $buttonHeight;
            height: $buttonHeight;
            border-radius: $buttonHeight;
            background: rgba($backgroundColor, 1);

            .icon {
                animation: pulse 5s ease-in-out 1s infinite;
            }
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            5% {
                transform: scale(1.2);
            }
            10% {
                transform: scale(1);
            }
            15% {
                transform: scale(1.2);
            }
            20% {
                transform: scale(1);
            }
            100% {
                transform: scale(1);
            }
        }

        .label {
            font-size: var(--fontSize_medium);
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_base), 0.4);
            padding: 0 1rem 0 1.5rem;
            transition: color 0.2s linear;
            display: none;
        }

        &:hover {
            .label {
                color: rgba(var(--color_base), 1);
            }

            .symbol .icon {
                animation: none;
            }
        }

        &.active {
            background-color: rgba(var(--color_primary), 1);
            box-shadow: var(--boxShadow_content);

            .label {
                color: rgba(var(--color_primaryContrast), 1);
            }

            .symbol {
                background-color: rgba(var(--color_accent), 1);

                .icon {
                    animation: none;
                }
            }
        }
    }

    .menu {
        padding: var(--spacing_small);
    }

    @include for-tablet-down() {
        position: fixed;
        top: auto;
        bottom: var(--spacing_medium);
        right: var(--spacing_large);
        z-index: $zIndex--pageActionButton;

        .button {
            background: rgba(var(--color_backgroundContent), 0.3);
            backdrop-filter: blur(2px);
            @include m-iconSize($iconSize--medium);

            .label {
                color: rgba(var(--color_base), 1);
                display: block;
            }

            &.active {
                .symbol {
                    background: rgba(var(--color_primary), 0.3);
                }
            }
        }

        &.evadeButtons {
            bottom: calc(var(--elementSize_big) + var(--spacing_medium));
            right: var(--spacing_large);
        }
    }

    @include for-mobile-down() {
        right: var(--spacing_medium);

        &.evadeButtons {
            right: var(--spacing_medium);
        }

        .button {
            width: var(--elementSize_regular);
            height: var(--elementSize_regular);
            padding: 0;
            backdrop-filter: unset;

            .label {
                display: none;
            }
        }
    }
}
