@import "../../../styles/base";

/* ===================================================================
   PAGE ACTIONS
   =================================================================== */

$backgroundColor: var(--pageActionsButton_backgroundColor, var(--color_primary));
$foregroundColor: var(--pageActionsButton_foregroundColor, var(--color_primaryContrast));
$backgroundColorActive: var(--pageActionsButton_backgroundColorActive, var(--color_accent));
$borderRadius: var(--pageActionsButton_borderRadius, 100%);
$boxShadow: var(--pageActionsButton_boxShadow, 0 0.3rem 15px rgba(0, 0, 0, 0.2));

.base {
    position: absolute;
    right: 0;
    top: calc((var(--elementSize_big) + var(--spacing_large)) * -1);

    // Action button
    .button {
        width: var(--elementSize_big);
        height: var(--elementSize_big);
        background: rgba($backgroundColor, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        transition: transform 0.2s cubic-bezier(0.62, 0.055, 0.24, 1.305), background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
        user-select: none;
        @include m-iconColor(rgba($foregroundColor, 1));
        @include m-iconSize($iconSize--large);

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: rgba($backgroundColorActive, 1);
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .menu {
        padding: var(--spacing_small);
    }

    @include for-tablet-down() {
        position: fixed;
        top: auto;
        bottom: var(--spacing_medium);
        right: var(--spacing_large);
        z-index: $zIndex--pageActionButton;

        .button {
            box-shadow: var(--boxShadow_medium);
            @include m-iconSize($iconSize--medium);

            &.active {
                box-shadow: var(--boxShadow_medium);
            }
        }

        &.evadeButtons {
            bottom: calc(var(--elementSize_big) + var(--spacing_medium));
            right: var(--spacing_large);
        }
    }

    @include for-mobile-down() {
        right: var(--spacing_medium);

        &.evadeButtons {
            right: var(--spacing_medium);
        }

        .button {
            width: var(--elementSize_regular);
            height: var(--elementSize_regular);
        }
    }
}
