@import "../../../styles/base";

/* ===================================================================
   PAGE ACTIONS
   =================================================================== */

.base {
    position: absolute;
    top: var(--spacing_large);
    right: var(--spacing_large);

    // Action button
    .button {
        width: var(--elementSize_big);
        height: var(--elementSize_big);
        background: rgba(var(--color_primary), 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--borderRadius_form);
        box-shadow: var(--boxShadow_regular);
        transition: transform .2s cubic-bezier(0.620, 0.055, 0.240, 1.305), background-color .2s ease-in-out, box-shadow .2s ease-in-out;
        user-select: none;
        @include m-iconColor(rgba(var(--color_contrast), 1));
        @include m-iconSize($iconSize--large);

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: rgba(var(--color_primaryAccent), 1);
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .menu {
        padding: var(--spacing_small);
    }

    @include for-tablet-landscape-down(){
        position: fixed;
        top: auto;
        bottom: var(--spacing_medium);
        right: var(--spacing_medium);
        z-index: $zIndex--pageActionButton;

        .button {
            box-shadow: var(--boxShadow_medium);
            @include m-iconSize($iconSize--medium);

            &.active {
                box-shadow: var(--boxShadow_medium);
            }
        }

        &.evadeButtons {
            bottom: calc(var(--elementSize_big) + var(--spacing_medium));
            right: var(--spacing_medium);
        }
    }

    @include for-tablet-portrait-down(){
        .button {
            width: calc(var(--elementSize_big) - 10px);
            height: calc(var(--elementSize_big) - 10px);
        }
    }
}
