
/* ===================================================================
   PAGE ACTIONS
   =================================================================== */

.base {
    position: absolute;
    top: $spacing--large;
    right: $spacing--large;

    // Action button
    .button {
        width: $size--element-big;
        height: $size--element-big;
        background: $color--accent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadius--regular;
        box-shadow: $boxShadow--regular;
        transition: transform .2s cubic-bezier(0.620, 0.055, 0.240, 1.305), background-color .2s ease-in-out, box-shadow .2s ease-in-out;
        user-select: none;
        @include m-iconColor($color--contrast);
        @include m-iconSize($iconSize--medium);

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        &.active {
            background-color: darken($color--background, 10%);
            box-shadow: none;
            transform: scale(0.9);
        }
    }

    @include for-tablet-portrait-down(){
        right: $spacing--phone-edge;
        top: $spacing--medium;

        .button {
            box-shadow: $boxShadow--large;
            width: $size--element-big - 10px;
            height: $size--element-big - 10px;
            @include m-iconSize($iconSize--normal);
        }
    }
}
