@import "../../../styles/base";

/* ===================================================================
   PAGE ACTIONS
   =================================================================== */

.base {
    position: absolute;
    top: $spacing--large;
    right: $spacing--large;

    // Action button
    .button {
        width: $size--element-big;
        height: $size--element-big;
        background: $color--primary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: $boxShadow--regular;
        transition: transform .2s cubic-bezier(0.620, 0.055, 0.240, 1.305), background-color .2s ease-in-out, box-shadow .2s ease-in-out;
        user-select: none;
        @include m-iconColor($color--contrast);
        @include m-iconSize($iconSize--medium);

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $color--primary-accent;
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .menu {
        padding: $spacing--small;
    }

    @include for-tablet-landscape-down(){
        position: fixed;
        top: auto;
        bottom: $spacing--medium;
        right: $spacing--medium;
        z-index: $zIndex--pageActionButton;

        .button {
            box-shadow: $boxShadow--medium;

            &.active {
                box-shadow: $boxShadow--medium;
            }
        }
    }

    @include for-tablet-portrait-down(){
        bottom: $spacing--medium;
        right: $spacing--medium;

        .button {
            width: $size--element-big - 10px;
            height: $size--element-big - 10px;
        }
    }
}
