@import "../../../styles/base";

/* ===================================================================
   TOOLTIP
   =================================================================== */

$backgroundColor: rgba(var(--tooltip_backgroundColor, var(--color_base)), 1);
$foregroundColor: rgba(var(--tooltip_foregroundColor, var(--color_contrast)), 1);

:global {
    .tippy-popper {
        .tippy-tooltip {
            background-color: $backgroundColor;
            color: $foregroundColor;
            font-family: var(--fontFamily_primary);
            font-size: var(--fontSize_regular);
            padding: 0.3rem 0.7rem 0.3rem;
        }

        &[x-placement^="bottom"] [x-arrow] {
            border-bottom-color: $backgroundColor !important;
        }

        &[x-placement^="top"] [x-arrow] {
            border-top-color: $backgroundColor !important;
        }

        &[x-placement^="right"] [x-arrow] {
            border-right-color: $backgroundColor !important;
        }

        &[x-placement^="left"] [x-arrow] {
            border-left-color: $backgroundColor !important;
        }
    }
}
