@import "../../../styles/base";

/* ===================================================================
   PARAGRAPH
   =================================================================== */

.base {
    font-family: var(--fontFamily_primary);
    margin: 0 0 var(--spacing_medium) 0;

    &.alignCenter {
        text-align: center;
    }

    &.spacingNone {
        margin-bottom: 0;
    }
}
