@import "../../../styles/base";

/* ===================================================================
   PARAGRAPH
   =================================================================== */

.base {
    font-family: $fontFamily--primary;
    margin: 0 0 $spacing--medium 0;

    &.centerAlign {
        text-align: center;
    }

    &.noMargin {
        margin-bottom: 0;
    }
}
