@import "../../../styles/base";

/* ===================================================================
   COMPONENT WRAPPER
   =================================================================== */

.base {
    position: relative;
    transform: scale(1);
    height: 100vh;
    overflow: hidden;

    @include for-phone-only(){
        height: auto;
        min-height: 100vh;
    }
}
