@import "../../../styles/base";

/* ===================================================================
   PAGE NAV
   =================================================================== */

$height: var(--pageNav_height, var(--elementSize_big));
$counterSize: var(--pageNav_counterSize, 22px);
$borderBottom: var(--pageNav_borderBottom, 3px solid rgba(var(--color_base), 0.1));
$backgroundColor: rgba(var(--pageNav_backgroundColor, var(--color_backgroundContent)), 1);
$boxShadow: var(--pageNav_boxShadow, var(--boxShadow_regular));
$borderRadius: var(--pageNav_borderRadius, 0);
$buttonSpacing: var(--pageNav_buttonSpacing, var(--spacing_regular));
$compactBorderTop: var(--pageNav_borderTopCompact, "none");
$compactBoxShadow: var(--pageNav_boxShadowCompact, var(--boxShadow_regular));

.base {
    margin-bottom: var(--spacing_large);
    height: $height;

    .buttons {
        display: flex;
        flex-direction: row;
        position: absolute;
    }

    .button {
        display: flex;
        position: relative;
        background-color: $backgroundColor;
        box-shadow: $boxShadow;
        height: $height;
        cursor: pointer;
        user-select: none;
        margin-right: $buttonSpacing;
        padding: 0 var(--spacing_small);
        transition: box-shadow 0.2s linear, background-color 0.2s linear, border 0.2s ease-in-out;
        border-bottom: $borderBottom;
        text-decoration: none;
        border-radius: $borderRadius;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $height;
            height: 100%;
            @include m-iconSize(19px);
            @include m-iconColor(rgba(var(--color_base), 0.2), true);
        }

        .label {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: var(--fontSize_medium);
            font-weight: var(--fontWeight_medium);
            padding: 2px var(--spacing_medium) 0 0;
            color: rgba(var(--color_base), 0.6);
            transition: color 0.2s linear;
        }

        .count {
            margin-left: -5px;
            margin-right: 5px;
            position: absolute;
            top: 0;
            right: 5px;
            transform: translateY(-50%);
        }

        // STATE: Hover
        &:hover {
            .icon {
                @include m-iconColor(rgba(var(--color_base), 0.4), true);
            }

            .label {
                color: rgba(var(--color_base), 1);
            }
        }

        // STATE: Active
        &.active {
            cursor: default;
            border-color: rgba(var(--color_primary), 1);

            .icon {
                @include m-iconColor(rgba(var(--color_primary), 1), true);
            }

            .label {
                color: rgba(var(--color_base), 1);
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }


    // MODE: Compact
    &.compact {
        .button {
            box-shadow: none;
            position: relative;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            .label {
                display: none;
            }

            .count {
                right: 2px;
            }
        }
    }

    // RESPONSIVE: For phone only
    @include for-tablet-down() {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $zIndex--pageNav;
        margin: 0;
        background: rgba(var(--color_backgroundContent), 1);
        box-shadow: $compactBoxShadow;
        box-sizing: content-box;
        border-top: $compactBorderTop;

        .buttons {
            width: 100%;
        }

        .button {
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            position: relative;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            .label {
                display: none;
            }

            .count {
                right: 2px;
            }
        }
    }
}
