@import "../../../styles/base";

/* ===================================================================
   PAGE NAV
   =================================================================== */

$height: var(--pageNav_height, var(--elementSize_regular));
$borderRadius: var(--pageNav_borderRadius, 100px);
$backgroundColor: var(--pageNav_backgroundColor, rgba(var(--color_backgroundShade), 1));
$buttonsMargin: var(--pageNav_buttonsMargin, 0);

$buttonSpacing: var(--pageNav_buttonSpacing, 0);
$buttonPadding: var(--pageNav_buttonPadding, 0 var(--spacing_large));
$buttonBorder: var(--pageNav_buttonBorder, none);
$buttonActiveBorder: var(--pageNav_buttonActiveBorder, none);
$buttonBoxShadow: var(--pageNav_buttonBoxShadow, var(--boxShadow_content));
$buttonBackgroundColor: var(--pageNav_buttonBackgroundColor, rgba(var(--color_backgroundContent), 1));

$mobile-height: var(--pageNavMobile_height, var(--elementSize_big));
$mobile-backgroundColor: var(--pageNavMobile_backgroundColor, rgba(var(--color_backgroundContent), 1));
$mobile-buttonBorderBottom: var(--pageNavMobile_buttonBorder, 3px solid rgba(var(--color_base), 0.1));
$mobile-buttonActiveBackgroundColor: var(--pageNavMobile_buttonActiveBackgroundColor, rgba(var(--color_backgroundContent), 1));
$mobile-buttonActiveForegroundColor: var(--pageNavMobile_buttonActiveForegroundColor, rgba(var(--color_primary), 1));
$mobile-buttonActiveBorderBottom: var(--pageNavMobile_buttonActiveBorder, 3px solid rgba(var(--color_primary), 1));
$mobile-boxShadow: var(--pageNavMobile_boxShadow, var(--boxShadow_content));

.base {
    position: relative;
    height: $height;
    margin-right: 150px;

    .buttons {
        display: flex;
        flex-direction: row;
        position: absolute;
        background-color: $backgroundColor;
        border-radius: $borderRadius;
        height: $height;
        column-gap: $buttonSpacing;
        padding: $buttonsMargin;
    }

    .button {
        display: flex;
        position: relative;
        height: 100%;
        cursor: pointer;
        user-select: none;
        padding: $buttonPadding;
        border: $buttonBorder;
        text-decoration: none;
        border-radius: $borderRadius;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-right: 0.6rem;
            @include m-iconSize(19px);
            @include m-iconColor(rgba(var(--color_base), 0.2), true);
        }

        .label {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: var(--fontSize_medium);
            font-weight: var(--fontWeight_medium);
            padding: 2px 0 0 0;
            color: rgba(var(--color_base), 0.8);
            transition: color 0.2s linear;
        }

        .count {
            margin-left: -5px;
            margin-right: 5px;
            position: absolute;
            top: 0;
            right: 5px;
            transform: translateY(-50%);
        }

        // STATE: Hover
        &:hover {
            .icon {
                @include m-iconColor(rgba(var(--color_base), 0.4), true);
            }

            .label {
                color: rgba(var(--color_base), 1);
            }
        }

        // STATE: Active
        &.active {
            cursor: default;
            border: $buttonActiveBorder;
            background-color: $buttonBackgroundColor;
            box-shadow: $buttonBoxShadow;

            .icon {
                @include m-iconColor(rgba(var(--color_primary), 1), true);
            }

            .label {
                color: rgba(var(--color_base), 1);
            }
        }
    }

    // MODE: Compact
    &.compact {
        .button {
            position: relative;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            .icon {
                padding: 0;
                @include m-iconColor(rgba(var(--color_base), 0.4), true);
            }

            .label {
                display: none;
            }

            .count {
                right: 2px;
            }

            &.active {
                .icon {
                    @include m-iconColor(rgba(var(--color_primary), 1), true);
                }
            }
        }
    }

    // RESPONSIVE: For phone only
    @include for-tablet-down() {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $zIndex--pageNav;
        margin: 0;
        box-sizing: content-box;
        height: $mobile-height;

        .buttons {
            width: 100%;
            border-radius: 0;
            padding: 0;
            background: $mobile-backgroundColor;
            box-shadow: $mobile-boxShadow;
            height: $mobile-height;
        }

        .button {
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            position: relative;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            border-bottom: $mobile-buttonBorderBottom;

            .icon {
                padding: 0;
                @include m-iconColor(rgba(var(--color_base), 0.4), true);
            }

            .label {
                display: none;
            }

            .count {
                right: 2px;
            }

            &.active {
                box-shadow: none;
                background: $mobile-buttonActiveBackgroundColor;
                border: none;
                border-bottom: $mobile-buttonActiveBorderBottom;

                .icon {
                    @include m-iconColor($mobile-buttonActiveForegroundColor);
                }
            }
        }
    }
}
