@import "../../../styles/base";

/* ===================================================================
   PROGRESS BAR
   =================================================================== */

$height--bar: 16px;
$height--bar-small: 5px;
$color--bar-animation: rgba(0, 0, 0, 0.1);


.base {
    display: block;
    margin: var(--spacing_medium) 0;

    .bar {

        .info {
            margin-bottom: var(--spacing_small);

            .label {
                display: inline-block;
                margin-right: var(--spacing_medium);
            }

            .percent {
                vertical-align: top;
                float: right;
                font-weight: var(--fontWeight_medium);
                color: rgba(var(--color_base), 0.6);
            }
        }

        .trail {
            position: relative;
            overflow: hidden;
            height: $height--bar;
            background-color: rgba(var(--color_base), 0.05);
            border-radius: $height--bar;

            .indicator {
                position: relative;
                height: 100%;
                border-radius: $height--bar;
                background: rgba(var(--color_primary), 1);;
                transition: width 0.2s ease;

                .stripes {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(-45deg, $color--bar-animation 25%, transparent 25%, transparent 50%, $color--bar-animation 50%, $color--bar-animation 75%, transparent 75%);
                    background-size: 20px 20px;
                    mix-blend-mode: overlay;
                }
            }
        }
    }

    &.colorSuccess {
        .bar .trail .indicator {
            background: rgba(var(--color_success), 1);
        }
    }

    &.colorError {
        .bar .trail .indicator {
            background: rgba(var(--color_error), 1);
        }
    }

    &.sizeSmall {
        .bar .trail {
            height: $height--bar-small;
            border-radius: $height--bar-small;

            .indicator {
                border-radius: $height--bar-small;
            }
        }
    }

    // Animation
    &.animation {
        .bar {
            .trail {
                .indicator {
                    .stripes {
                        animation: linear-progress-bar-stripes 500ms linear infinite reverse;
                    }
                }
            }
        }
    }

}


@keyframes linear-progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20px 0;
    }
}
