@import "../../../styles/base";

/* ===================================================================
   PROGRESS BAR
   =================================================================== */

$height--bar: 16px;
$color--bar-animation: rgba(0, 0, 0, 0.1);


.base {
    display: block;
    margin: $spacing--medium 0;

    .bar {

        .info {
            margin-bottom: $spacing--small;

            .label {
                display: inline-block;
                margin-right: $spacing--medium;
            }

            .percent {
                vertical-align: top;
                float: right;
                font-weight: $fontWeight--medium;
                color: rgba($color--base, 0.6);
            }
        }

        .trail {
            position: relative;
            overflow: hidden;
            height: $height--bar;
            background-color: rgba($color--base, 0.05);
            border-radius: $height--bar;

            .indicator {
                position: relative;
                height: 100%;
                border-radius: $height--bar;
                background: $color--primary;;
                transition: width 0.2s ease;

                .stripes {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(-45deg, $color--bar-animation 25%, transparent 25%, transparent 50%, $color--bar-animation 50%, $color--bar-animation 75%, transparent 75%);
                    background-size: 20px 20px;
                    mix-blend-mode: overlay;
                }
            }
        }
    }

    &.colorSuccess {
        .bar .trail .indicator {
            background: $color--success;
        }
    }

    &.colorError {
        .bar .trail .indicator {
            background: $color--error;
        }
    }

    // Animation
    &.animation {
        .bar {
            .trail {
                .indicator {
                    .stripes {
                        animation: linear-progress-bar-stripes 500ms linear infinite reverse;
                    }
                }
            }
        }
    }

}


@keyframes linear-progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20px 0;
    }
}
