@import "../../../styles/base";

/* ===================================================================
   FORM BUTTONS
   =================================================================== */

.base {
    position: relative;
    display: flex;
    flex-flow: row wrap;

    .item {
        margin-right: var(--spacing_regular);

        &:last-child {
            margin-right: 0;
        }
    }

    @include for-mobile-down(){
        .item {
            display: block;
            width: 100%;
            flex-grow: 1;
            margin: var(--spacing_regular) 0 0;

            .button {
                width: 100%;
            }

            &:first-child {
                margin: 0;
            }
        }
    }
}
