@import "../../../styles/base";

/* ===================================================================
   FORM BUTTONS
   =================================================================== */

.base {

    .button {
        vertical-align: top;
        margin-right: $spacing--small;

        &:last-child {
            margin-right: 0;
        }
    }


    // RESPONSIVE
    @include for-phone-only(){
        display: flex;

        .button {
            display: block;
            width: 100%;
            padding: 0;
            margin-right: 0;

            &:last-child {
                margin-left: $spacing--small;
            }
        }
    }
}
