@import "../../../styles/base";

/* ===================================================================
   POPUP TITLE
   =================================================================== */

.title {
    padding: $spacing--medium;
    text-align: left;
    overflow: hidden;
    transition: color 0.3s ease;
    border-radius: $borderRadius--regular $borderRadius--regular 0 0;
    border-bottom: 1px solid rgba($color--base, 0.1);
    @include m-truncate();

    .text {
        font-size: $fontSize--heading-4;
        font-weight: $fontWeight--medium;
        color: $color--base;
    }

    .description {
        font-size: $fontSize--regular;
        color: rgba($color--base, 0.6);
        font-weight: $fontWeight--regular;
    }
}
