@import "../../../styles/base";

/* ===================================================================
   POPUP TITLE
   =================================================================== */

$backgroundColor: var(--popupTitle_backgroundColor, var(--color_backgroundContent));
$foregroundColor: var(--popupTitle_foregroundColor, var(--color_primary));
$descriptionColor: var(--popupTitle_descriptionColo, var(--color_base));
$borderBottom: var(--popupTitle_borderBottom, 1px solid rgba(var(--color_border), 1));

.title {
    padding: var(--spacing_medium) calc(var(--spacing_large) * 2) var(--spacing_medium) var(--spacing_medium);
    text-align: left;
    overflow: hidden;
    transition: color 0.3s ease;
    border-radius: var(--borderRadius_content) var(--borderRadius_content) 0 0;
    border-bottom: $borderBottom;
    background: rgba($backgroundColor, 1);
    position: relative;

    .text {
        display: block;
        font-size: var(--fontSize_heading4);
        font-weight: var(--fontWeight_medium);
        color: rgba($foregroundColor, 1);
        min-width: 0;
        @include m-truncate();
    }

    .description {
        font-size: var(--fontSize_regular);
        font-weight: var(--fontWeight_regular);
        color: rgba($descriptionColor, 0.4);
    }
}
