@import "../../../styles/base";

/* ===================================================================
   POPUP
   =================================================================== */

$popup--width-normal: 450px;
$popup--width-medium: 600px;
$closeColor: var(--popup_closeColor, var(--color_primaryContrast));

.base {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--spacing_regular);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: $zIndex--popups;

    // OVERLAY
    > .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // BOX
    > .box {
        position: relative;
        display: inline-block;
        min-height: 100px;
        min-width: 400px;
        max-width: $popup--width-normal;
        opacity: 0;
        animation: boxIn 0.3s forwards;
        margin-top: -50px;
        box-shadow: var(--boxShadow_large);
        transition: border-bottom 0.3s ease;
        background: rgba(var(--color_backgroundContent), 1);
        border-radius: var(--borderRadius_content);
        z-index: 2;

        @keyframes boxIn {
            to {
                margin-top: 0;
                opacity: 1;
            }
        }
    }

    // Sizes
    &.sizeAuto {
        > .box {
            min-width: auto;
            max-width: none;
        }
    }

    &.sizeMedium {
        > .box {
            max-width: $popup--width-medium;
        }
    }

    &.sizeFull {
        > .box {
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            max-width: none;
        }
    }

    // RESPONSIVE
    @include for-mobile-down() {
        overflow-x: hidden;
        overflow-y: auto;

        .box {
            display: block;
            min-width: 100%;
        }
    }
}

// CLOSE
.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: var(--elementSize_regular);
    height: var(--elementSize_regular);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        @include m-iconColor(rgba($closeColor, 0.7), true);
    }

    &:hover, &:active {
        transition: background-color 0.2s linear;

        .icon {
            @include m-iconColor(rgba($closeColor, 1));
        }
    }
}
