@import "../../../styles/base";

/* ===================================================================
   POPUP FOOTER
   =================================================================== */

$borderTop: var(--popupTitle_borderTop, 1px solid rgba(var(--color_border), 1));

.footer {
    padding: var(--spacing_medium);
    border-top: $borderTop;
}
