@import "../../../styles/base";

/* ===================================================================
   INPUT
   =================================================================== */

.base {
    position: relative;

    /* INPUT
    --------------------------------------- */
    .input {
        position: relative;
        display: inline-block;
        height: $size--element-regular;
        width: 100%;
        outline: none;
        padding: 0 10px 0;
        border: $input--border;
        font-family: $fontFamily--primary;
        font-size: $fontSize--regular;
        color: rgba($color--base, 0.8);
        transition: border-color .3s ease, box-shadow .3s ease;
        background-color: $color--contrast;
        border-radius: $borderRadius--regular;
        appearance: none;

        &:focus {
            border: $input--border-focus;
            color: $color--base;
            box-shadow: $input--boxShadow-focus;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 20px;
                width: 2px;
                height: 5px;
                background-color: $color--primary;
            }
        }

        &[disabled] {
            background-color: rgba($color--base, 0.03);
            border-color: rgba($color--base, 0.10);
            color: rgba($color--base, 0.4);
            cursor: not-allowed;
        }
    }

    /* ICON
    --------------------------------------- */
    &.inputIcon {

        .input {
            padding-left: 55px;
        }

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 13px;
            z-index: 2;
            @include m-iconColor($color--primary);

            &:after {
                content: '';
                position: absolute;
                right: -13px;
                top: -4px;
                bottom: -4px;
                width: 1px;
                background-color: rgba(rgba($color--base, 0.05), 0);
                background-image: -webkit-linear-gradient(bottom, rgba(rgba($color--base, 0.15), 0) 0, rgba($color--base, 0.15) 30%, rgba($color--base, 0.15) 70%, rgba(rgba($color--base, 0.15), 0) 100%);
                background-image: linear-gradient(to top, rgba(rgba($color--base, 0.15), 0) 0, rgba($color--base, 0.15) 30%, rgba($color--base, 0.15) 70%, rgba(rgba($color--base, 0.15), 0) 100%);
            }
        }

        &.sizeSmall {
            .input {
                padding-left: 48px;
            }

            .icon {
                @include m-iconSize($iconSize--small);
                left: 11px;

                &:after {
                    right: -11px;
                }
            }
        }

        &.sizeBig {
            .input {
                padding-left: 65px;
            }

            .icon {
                left: 18px;

                &:after {
                    right: -18px;
                }
            }
        }
    }

    /* PREPEND
    --------------------------------------- */
    &.inputPrepend {
        display: flex;
        user-select: none;

        .input {
            flex-grow: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .prepend {
            display: flex;
            flex-shrink: 0;
            border: $input--border;
            border-right: none;
            border-radius: $borderRadius--regular 0 0 $borderRadius--regular;
            background-color: rgba($color--base, 0.03);
            padding: 0 $spacing--regular;
            min-width: $size--element-regular;
            align-items: center;
            justify-content: center;

            .content {
                display: inherit;
            }

            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: rgba($color--base, 0.05);
                }

            }

            &.disabled {
                border-color: rgba($color--base, 0.10);
            }

        }
    }

    /* APPEND
  --------------------------------------- */
    &.inputAppend {
        display: flex;
        user-select: none;

        .input {
            flex-grow: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .append {
            display: flex;
            flex-shrink: 0;
            border: $input--border;
            border-left: none;
            border-radius: 0 $borderRadius--regular $borderRadius--regular 0;
            background-color: rgba($color--base, 0.03);
            padding: 0 $spacing--regular;
            min-width: $size--element-regular;
            align-items: center;
            justify-content: center;

            .content {
                display: inherit;
            }

            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: rgba($color--base, 0.05);
                }

            }
        }
    }

    /* COUNTER
    --------------------------------------- */
    .counter {
        position: absolute;
        right: -$spacing--medium;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color--base, 0.4);
        font-size: $fontSize--small;
    }

    // SIZE: Small
    &.sizeSmall {
        .input {
            height: $size--element-small;
            font-size: $fontSize--small;
        }
    }

    // SIZE: Big
    &.sizeBig {
        .input {
            height: $size--element-big;
            font-size: $fontSize--medium;
        }
    }

    // STATE: Error
    &.error {

        .input {
            border: $input--border-error;

            &:focus {
                box-shadow: $input--boxShadow-error;
            }
        }

        .icon {
            @include m-iconColor(lighten($color--error, 10%));
        }
    }

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba($color--base, 0.4);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba($color--base, 0.4);
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba($color--base, 0.4);
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($color--base, 0.4);
}
