@import "../../../styles/base";

/* ===================================================================
   INPUT
   =================================================================== */

$backgroundColor: var(--input_backgroundColor, rgba(var(--color_contrast), 1));

.base {
    position: relative;

    /* INPUT
    --------------------------------------- */
    .input {
        position: relative;
        display: inline-block;
        height: var(--elementSize_regular);
        width: 100%;
        outline: none;
        padding: 0 10px 0;
        border: var(--input_border);
        font-family: var(--fontFamily_primary);
        font-size: var(--fontSize_regular);
        color: rgba(var(--color_base), 0.8);
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        background-color: $backgroundColor;
        border-radius: var(--borderRadius_form);
        appearance: none;

        &:focus {
            border: var(--input_borderFocus);
            color: rgba(var(--color_base), 1);
            box-shadow: var(--input_boxShadowFocus);
        }

        &[disabled] {
            background-color: rgba(var(--color_base), 0.03);
            border-color: rgba(var(--color_base), 0.1);
            color: rgba(var(--color_base), 0.4);
            cursor: not-allowed;
        }
    }

    /* ICON
    --------------------------------------- */
    &.inputIcon {
        .input {
            padding-left: 43px;
        }

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 13px;
            z-index: 2;
            @include m-iconColor(rgba(var(--color_base), 0.2), true);

            &.hasFocus {
                @include m-iconColor(rgba(var(--color_primary), 1), true);
            }
        }

        &.sizeSmall {
            .input {
                padding-left: 38px;
            }

            .icon {
                @include m-iconSize($iconSize--small);
                left: 11px;

                &:after {
                    right: -11px;
                }
            }
        }

        &.sizeBig {
            .input {
                padding-left: 52px;
            }

            .icon {
                left: 18px;

                &:after {
                    right: -18px;
                }
            }
        }
    }

    /* PREPEND
    --------------------------------------- */
    &.inputPrepend {
        display: flex;
        user-select: none;

        .input {
            flex-grow: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .prepend {
            display: flex;
            flex-shrink: 0;
            border: var(--input_border);
            border-right: none;
            border-radius: var(--borderRadius_form) 0 0 var(--borderRadius_form);
            background-color: rgba(var(--color_base), 0.03);
            padding: 0 var(--spacing_regular);
            min-width: var(--elementSize_regular);
            align-items: center;
            justify-content: center;

            .content {
                display: inherit;
            }

            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: rgba(var(--color_base), 0.05);
                }
            }

            &.disabled {
                border-color: rgba(var(--color_base), 0.1);
            }
        }
    }

    /* APPEND
  --------------------------------------- */
    &.inputAppend {
        display: flex;
        user-select: none;

        .input {
            flex-grow: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .append {
            display: flex;
            flex-shrink: 0;
            border: var(--input_border);
            border-left: none;
            border-radius: 0 var(--borderRadius_form) var(--borderRadius_form) 0;
            background-color: rgba(var(--color_base), 0.03);
            padding: 0 var(--spacing_regular);
            min-width: var(--elementSize_regular);
            align-items: center;
            justify-content: center;

            .content {
                display: inherit;
            }

            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: rgba(var(--color_base), 0.05);
                }
            }
        }
    }

    // SIZE: Small
    &.sizeSmall {
        .input {
            height: var(--elementSize_small);
            font-size: var(--fontSize_small);
        }
    }

    // SIZE: Big
    &.sizeBig {
        .input {
            height: var(--elementSize_big);
            font-size: var(--fontSize_medium);
        }
    }

    // STATE: Error
    &.error {
        .input {
            border: var(--input_borderError);

            &:focus {
                box-shadow: var(--input_boxShadowError);
            }
        }

        .icon {
            @include m-iconColor(rgba(var(--color_error), 1) !important);
        }
    }

    /* TYPE: Color
    --------------------------------------- */
    &.typeColor {
        .input {
            -webkit-appearance: none;
            // border: none;
            padding: 0;
            cursor: pointer;

            &::-webkit-color-swatch-wrapper {
                padding: 3px;
            }
            &::-webkit-color-swatch {
                border: none;
                border-radius: 3px;
            }
        }
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(var(--color_base), 0.4);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(var(--color_base), 0.4);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(var(--color_base), 0.4);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(var(--color_base), 0.4);
}
