@import "../../../styles/base";

/* ===================================================================
   PAGE HEADER
   =================================================================== */

.base {
    position: relative;
    margin-bottom: 3rem;
    display: flex;

    .icon {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include m-iconColor(rgba(var(--color_primary), 1));
        @include m-iconSize(3rem);
        margin-right: var(--spacing_regular);
        flex-shrink: 0;
    }

    .titles {
        margin-right: var(--elementSize_big);
        margin-top: -5px;
        padding-right: var(--spacing_medium);
        flex-grow: 1;

        .mainTitle {
            margin: 0;
            font-size: var(--fontSize_heading1);
            font-weight: var(--fontWeight_bold);
            line-height: var(--lineHeight_small);
        }

        .subTitle {
            display: flex;
            margin-left: 10px;

            .dots {
                width: 13px;
                margin-right: var(--spacing_regular);

                svg {
                    fill: rgba(var(--color_primary), 1);
                }
            }

            .text {
                font-size: var(--fontSize_heading4);
                color: rgba(var(--color_base), 0.5);
                font-weight: var(--fontWeight_regular);
                margin-top: -2px;
            }
        }
    }

    .breadcrumbs {
        position: absolute;
        top: -var(--spacing_large);
        left: -var(--spacing_large);
        right: -var(--spacing_large);
        padding: 0 var(--spacing_large);
    }

    // With icon
    &.withIcon {
        .titles {
            margin-top: 3px;
        }
    }
}


@include for-tablet-landscape-down(){
    .base {
        .titles {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@include for-phone-only(){
    .base {
        margin: 0 -3px var(--spacing_medium);
        padding: 0 calc(var(--spacing_edges) + 40px) 0 var(--spacing_edges);

        .icon {
            position: absolute;
            right: var(--spacing_edges);
            top: 50%;
            transform: translateY(-50%);
            width: 2.6rem;
            height: 2.6rem;
            margin-right: 0;
            @include m-iconSize(2.6rem);
        }

        // With icon
        &.withIcon {
            .titles {
                margin-top: 2px;
            }
        }

        .titles {
            margin-top: 0;

            .mainTitle {
                font-size: var(--fontSize_heading3);
            }
            .subTitle {
                margin-left: 6px;

                .dots {
                    width: 10px;
                    margin-right: var(--spacing_small);
                }

                .text {
                    font-size: var(--fontSize_medium);
                    margin-top: 2px;
                }
            }
        }

        .breadcrumbs {
            .crumb {
                font-size: var(--fontSize_small);
                font-weight: var(--fontWeight_medium);

                .divider {
                    padding: 0 5px;
                }
            }
        }
    }
}
