@import "../../../styles/base";

/* ===================================================================
   PAGE HEADER
   =================================================================== */

.base {
    position: relative;
    display: flex;
    align-items: top;

    .symbol {
        background: rgba(var(--color_base), 0.03);
        border-radius: var(--borderRadius_content);
        width: 6.5rem;
        height: 6.5rem;
        margin-right: var(--spacing_medium);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @include m-iconColor(rgba(var(--color_primary), 1));
        @include m-iconSize(4rem);
        flex-shrink: 0;
    }

    .titles {
        margin-right: var(--elementSize_big);
        padding-right: var(--spacing_medium);
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .mainTitle {
            margin: 0;
            font-size: var(--fontSize_heading1);
            font-weight: var(--fontWeight_bold);
            line-height: var(--lineHeight_small);
        }

        .subTitle {
            display: flex;
            margin-left: 10px;

            .dots {
                width: 13px;
                margin-right: var(--spacing_regular);

                svg {
                    fill: rgba(var(--color_primary), 1);
                }
            }

            .text {
                font-size: var(--fontSize_heading4);
                color: rgba(var(--color_base), 0.5);
                font-weight: var(--fontWeight_regular);
                margin-top: -2px;
            }
        }
    }
}

@include for-tablet-down() {
    .base {
        .titles {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@include for-mobile-down() {
    .base {
        margin-bottom: var(--spacing_medium);
        padding: 0 var(--spacing_regular);

        .symbol {
            width: 4.5rem;
            height: 4.5rem;
            margin-right: var(--spacing_regular);
        }

        .icon {
            @include m-iconSize(2.6rem);
        }

        .titles {
            margin-top: 0;

            .mainTitle {
                font-size: var(--fontSize_heading3);
            }
            .subTitle {
                margin-left: 6px;

                .dots {
                    width: 10px;
                    margin-right: var(--spacing_small);
                }

                .text {
                    font-size: var(--fontSize_medium);
                    margin-top: 2px;
                }
            }
        }
    }
}
