@import "../../../styles/base";

/* ===================================================================
   PAGE HEADER
   =================================================================== */

.base {
    position: relative;
    margin-bottom: $spacing--large;

    .titles {
        margin-right: $size--element-big;
        margin-top: -5px;
        padding-right: $spacing--medium;

        .mainTitle {
            margin: 0;
            font-size: $fontSize--heading-1;
            font-weight: $fontWeight--light;
            line-height: $lineHeight--small;
        }

        .subTitle {
            display: inline-block;
            font-size: $fontSize--heading-4;
            color: $color--primary-contrast;
            font-weight: $fontWeight--regular;
            background-color: $color--secondary;
            padding: 0 10px;
            margin-top: $spacing--normal;
            border-radius: $borderRadius--regular;
        }
    }

    .breadcrumbs {
        position: absolute;
        top: -$spacing--large;
        left: -$spacing--large;
        right: -$spacing--large;
        padding: 0 $spacing--large;
    }

    &.withCrumbs {
        padding-top: $spacing--large;
    }
}


@include for-tablet-landscape-down(){
    .base {
        .titles {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@include for-phone-only(){
    .base {
        .titles {
            margin-top: 0;

            .mainTitle {
                font-size: $fontSize--heading-2;
            }
            .subTitle {
                font-size: $fontSize--large;
                padding: 0 7px;
            }
        }

        .breadcrumbs {
            .crumb {
                font-size: $fontSize--small;
                font-weight: $fontWeight--medium;

                .divider {
                    padding: 0 5px;
                }
            }
        }
    }
}
