
/* ===================================================================
   PAGE HEADER
   =================================================================== */

.base {
    position: relative;
    margin-bottom: $spacing--large;

    .titles {
        margin-right: $size--element-big;
        padding-right: $spacing--medium;

        .mainTitle {
            margin: 0;
            font-size: $fontSize--heading-1;
            line-height: $lineHeight--heading-1;
            font-weight: $fontWeight--light;
        }

        .subTitle {
            display: inline-block;
            margin: 0;
            font-size: $fontSize--heading-4;
            line-height: $lineHeight--heading-4;
            background-color: darken($color--background, 5%);
            color: $color--base-80;
            font-weight: $fontWeight--regular;
            padding: 0 10px;
            margin-top: -5px;
        }
    }


    .breadcrumbs {
        margin: 0 0 $spacing--normal 0;
        padding: 0;
        list-style: none;
        margin-right: $size--element-big;
        padding-right: $spacing--medium;

        .crumb {
            display: inline-block;
            color: $color--base-40;

            .divider {
                padding: 0 8px;
                @include m-iconSize(8px);
                @include m-iconColor($color--accent);
            }

            &:hover {
                color: $color--base-80;
                cursor: pointer;
            }

            &:last-child {
                color: $color--base-20;

                &:hover {
                    color: $color--base-20;
                    cursor: default;
                }
            }
        }
    }
}



@include for-phone-only(){
    .base {
        .titles {
            .mainTitle {
                font-size: $fontSize--heading-2;
                line-height: $lineHeight--heading-2;
            }
            .subTitle {
                font-size: $fontSize--large;
                line-height: $lineHeight--large;
                padding: 0 7px;
                margin-top: 5px;
            }
        }

        .breadcrumbs {
            .crumb {
                font-size: $fontSize--small;
                font-weight: $fontWeight--medium;

                .divider {
                    padding: 0 5px;
                }
            }
        }
    }
}
