@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   TABLE HEAD
   =================================================================== */

.head {
    // Row
    > tr {
        // Col
        > th {
            text-align: left;
            padding: $padding-cell--regular;
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_base), 1);
            @include m-truncate();

            &:last-child {
                border-right: none;
            }
        }
    }
}
