@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   TABLE HEAD
   =================================================================== */

.head {
    // Row
    > tr {
        // Col
        > th {
            text-align: left;
            padding: $padding-cell--regular;
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_base), 1);
            user-select: none;
            position: relative;
            @include m-truncate();

            .caret {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                padding: $padding-cell--regular;
                display: flex;
                align-items: center;

                @include m-iconColor(rgba(var(--color_primary), 1));
                @include m-iconSize(10px);
            }

            &:last-child {
                border-right: none;
            }

            &.sorted {
                padding-right: calc(var(--spacing_regular) * 2 + 10px);
                box-shadow: 0 1px 0 0 rgba(var(--color_primary), 1);
            }

            &.sortable {
                cursor: pointer;

                &:hover {
                    background-color: rgba(var(--color_background), 0.5);
                }
            }
        }
    }
}
