@import "../../../styles/base";

/* ===================================================================
   CODE
   =================================================================== */

.base {

    &.block {
        display: block;
    }

    &.inverted {
        background-color: rgba(var(--color_base), 1);
        color: rgba(var(--color_contrast), 1);
        padding: 3px;
    }
}
