@import "../../../styles/base";

/* ===================================================================
   CODE
   =================================================================== */

.base {

    &.block {
        display: block;
    }

    &.inverted {
        background-color: $color--base;
        color: $color--contrast;
        padding: 3px;
    }
}
