@import "../../../styles/base";

/* ===================================================================
   TABS
   =================================================================== */

$height-tabs: var(--elementSize_regular);
$border: var(--tabs_border, 1px solid rgba(var(--color_border), 0.8));

.base {
    .tabs {
        height: $height-tabs;
        overflow: hidden;

        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            height: 100%;
            border-bottom: $border;
            min-width: 100%;
        }
    }
}
