@import "../../../styles/base";

/* ===================================================================
   TABS
   =================================================================== */

$height-tabs: $size--element-regular + 4px;

.base {
    .tabs {
        height: $height-tabs;

        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            height: 100%;
            border-bottom: 1px solid rgba($color--base, 0.10);
            min-width: 100%;
        }
    }
}
