@import "../../../styles/base";

/* ===================================================================
   MENU HEADING
   =================================================================== */

.heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: var(--elementSize_small);
    line-height: var(--elementSize_small);
    padding: 0 10px;
    font-weight: var(--fontWeight_bold);
    color: rgba(var(--color_base), 0.4);
    font-size: var(--fontSize_small);
    text-transform: uppercase;
    text-align: left;
}
