@import "../../../styles/base";

/* ===================================================================
   MENU
   =================================================================== */

// Base
.base {
    display: block;
    background-color: rgba(var(--color_contrast), 1);

    // Hidden menu
    &.hidden {
        display: none;
    }
}
