@import "../../../styles/base";

/* ===================================================================
   MENU ITEM
   =================================================================== */

.item {
    position: relative;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border-bottom: 1px solid rgba($color--base, 0.05);
    border-right: none;
    height: $size--element-regular;
    line-height: $size--element-regular;
    padding: 0 5px;
    font-size: $fontSize--regular;
    text-decoration: none;
    background-color: $color--contrast;
    text-align: left;
    font-family: $fontFamily--primary;
    outline: none;
    transition: color 0.2s ease-in-out;
    user-select: none;

    &:last-child {
        border-bottom: none;
    }

    // Icon
    .icon {
        display: inline-block;
        padding: 0 5px;
        width: 28px;
        position: relative;
        top: 3px;
    }

    // Label
    .label {
        color: rgba($color--base, 0.8);
        padding: 0 5px;
        flex-grow: 1;
    }

    // Indicator
    .indicator {
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    // Counter
    $size--counter: 20px;
    .counter {
        display: flex;
        align-items: center;
        padding: 0 5px;

        .counterIndicator {
            display: flex;
            align-items: center;
            min-width: $size--counter;
            text-align: center;
            font-weight: $fontWeight--medium;
            font-size: $fontSize--tiny;
            color: $color--status-text;
            background-color: $color--error;
            height: $size--counter;
            line-height: $size--counter;
            padding: 0 7px;
            border-radius: $size--counter;
        }
    }

    // STATE: Hover
    &:hover {
        cursor: pointer;

        .label {
            color: $color--base;
        }
    }

    // Selected item
    &.selected {
        cursor: default;

        .icon {
            @include m-iconColor(rgba($color--base, 0.2));
        }

        .label {
            color: rgba($color--base, 0.4);
        }

        .counter {
            .counterIndicator {
                background-color: rgba($color--base, 0.1);
            }
        }

        &:hover {
            background-color: transparent;
        }
    }

    // Hidden item
    &.hidden {
        display: none;
    }
}
