@import "../../../styles/base";

/* ===================================================================
   MENU ITEM
   =================================================================== */

.item {
    position: relative;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border-bottom: 1px solid rgba(var(--color_base), 0.05);
    border-right: none;
    height: var(--elementSize_regular);
    line-height: var(--elementSize_regular);
    padding: 0 5px;
    font-size: var(--fontSize_regular);
    text-decoration: none;
    background-color: rgba(var(--color_contrast), 1);
    text-align: left;
    font-family: var(--fontFamily_primary);
    outline: none;
    transition: color 0.2s ease-in-out;
    user-select: none;

    &:last-child {
        border-bottom: none;
    }

    // Icon
    .icon {
        display: inline-block;
        padding: 0 5px;
        width: 28px;
        position: relative;
        top: 3px;
    }

    // Label
    .label {
        color: rgba(var(--color_base), 0.8);
        padding: 0 5px;
        flex-grow: 1;
    }

    // Indicator
    .indicator {
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    // Counter
    $size--counter: 20px;
    .counter {
        display: flex;
        align-items: center;
        padding: 0 5px;

        .counterIndicator {
            display: flex;
            align-items: center;
            min-width: $size--counter;
            text-align: center;
            font-weight: var(--fontWeight_medium);
            font-size: var(--fontSize_tiny);
            color: rgba(var(--color_statusText), 1);
            background-color: rgba(var(--color_error), 1);
            height: $size--counter;
            line-height: $size--counter;
            padding: 0 7px;
            border-radius: $size--counter;
        }
    }

    // STATE: Hover
    &:hover {
        cursor: pointer;

        .label {
            color: rgba(var(--color_base), 1);
        }
    }

    // Selected item
    &.selected {
        cursor: default;

        .icon {
            @include m-iconColor(rgba(var(--color_base), 0.2));
        }

        .label {
            color: rgba(var(--color_base), 0.4);
        }

        .counter {
            .counterIndicator {
                background-color: rgba(var(--color_base), 0.1);
            }
        }

        &:hover {
            background-color: transparent;
        }
    }

    // Hidden item
    &.hidden {
        display: none;
    }
}
