@import "../../../styles/base";

/* ===================================================================
   RADIO
   =================================================================== */

$backgroundColor: var(--radio_backgroundColor, var(--input_backgroundColor));
$radio--size: 28px;

.base {
    cursor: pointer;
    display: inline-block;
    min-height: $radio--size;
    user-select: none;

    $topBottom-margin: calc((var(--elementSize_regular) - #{$radio--size}) / 2);
    margin: $topBottom-margin var(--spacing_medium) $topBottom-margin 0;

    .symbol {
        position: relative;
        float: left;
        width: $radio--size;
        height: $radio--size;
        border: var(--input_border);
        border-radius: $radio--size;
        transition: all 0.2s ease;
        background-color: $backgroundColor;

        .dot {
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            border-radius: 50%;
            background-color: rgba(var(--color_primary), 1);
            opacity: 0;
        }
    }

    .label {
        margin-left: $radio--size;
        padding: 4px 0 0 var(--spacing_regular);
        color: rgba(var(--color_base), 0.6);
        transition: all 0.2s ease;
    }

    &:hover, &:focus {
        .symbol {
            box-shadow: var(--input_boxShadowFocus);
            border: var(--input_borderFocus);
        }

        .label {
            color: rgba(var(--color_base), 1);
        }
    }

    &.selected {
        .symbol {
            .dot {
                opacity: 1;
            }
        }

        .label {
            color: rgba(var(--color_base), 1);
        }

        &:hover {
            cursor: default;

            .symbol {
                border: var(--input_border);
                box-shadow: none;
            }
        }
    }
}
