@import "../../../styles/base";
@import "./config";

/* ===================================================================
   TABLE ROW
   =================================================================== */

$border: var(--tableRow_border, 1px solid rgba(var(--color_base), 0.03));
$backgroundHover: var(--tableRow_backgroundHover, rgba(var(--color_base), 0.05));

.row {
    // Col
    > .col {
        padding: 0;
        border-top: $border;
    }

    // Clickable
    &.clickable {
        cursor: pointer;

        &:not(.disabled) {
            &:hover {
                > .col {
                    background: $backgroundHover;
                    border-top-color: transparent;
                }
            }
        }
    }

    // MOD: Blink
    &.blink {
        > .col {
            animation: rowBlink 2s ease-in-out none infinite;
        }
    }

    // MOD: Disabled
    &.disabled {
        cursor: default;

        > .col {
            background-color: rgba(var(--color_background), 0.35);
            opacity: 0.4;
        }
    }
}

// MOD: Blinking row
@keyframes rowBlink {
    0% {
        background-color: rgba(var(--color_attention), 0.2);
    }
    50% {
        background-color: rgba(var(--color_attention), 0.6);
    }
    100% {
        background-color: rgba(var(--color_attention), 0.2);
    }
}
