@import "../../../styles/base";

/* ===================================================================
   CARD CONTENT
   =================================================================== */

$border: var(--cardContent_border, 1px solid rgba(var(--color_base), 0.10));
$padding: var(--cardContent_padding, var(--spacing_medium));
$paddingSides: var(--card_paddingSides, var(--spacing_medium));

.base {
    padding: $padding $paddingSides;
}

.borderBottom {
    border-bottom: $border;
}

.borderTop {
    border-top: $border;
}

.paddingNone {
    padding: 0;
}
