@import "../../../styles/base";

/* ===================================================================
   CONFIRM ACTION BUTTON
   =================================================================== */

$color--prompt-frame: rgba(var(--color_error), 1);

.base {

    .button {
        border: 1px solid rgba(var(--color_error), 0.5);
    }

    .prompt {
        background-image: linear-gradient(90deg, $color--prompt-frame 50%, transparent 50%), linear-gradient(90deg, $color--prompt-frame 50%, transparent 50%), linear-gradient(0deg, $color--prompt-frame 50%, transparent 50%), linear-gradient(0deg, $color--prompt-frame 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 5px 1px, 5px 1px, 1px 5px, 1px 5px;
        background-position: left top, right bottom, left bottom, right   top;
        animation: border-dance .5s infinite linear;
        padding: var(--spacing_medium);
        border-radius: var(--borderRadius_content);

        .question {
            padding: var(--spacing_small) var(--spacing_medium) var(--spacing_medium);
            text-align: center;
            font-weight: var(--fontWeight_medium);
            color: rgba(var(--color_error), 1);
        }
    }

    @keyframes border-dance {
        0% {
            background-position: left top, right bottom, left bottom, right   top;
        }
        100% {
            background-position: left 5px top, right 5px bottom , left bottom 5px , right top 5px;
        }
    }

}
