@import "../../../styles/base";

/* ===================================================================
   TEXTAREA
   =================================================================== */

.base {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 10px 10px 0;
    border: $input--border;
    font-family: $fontFamily--primary;
    font-size: $fontSize--normal;
    color: rgba($color--base, 0.8);
    transition: border-color 0.3s ease;
    appearance: none;
    border-radius: $borderRadius--regular;
    resize: none;
    vertical-align: top; // To compensate for space under textarea in misc browsers
    background: transparent;

    &:focus {
        border: $input--border-focus;
        box-shadow: $input--boxShadow-focus;
        color: $color--base;
    }

    &[disabled] {
        background-color: rgba($color--base, 0.03);
        border-color: rgba($color--base, 0.10);
        color: rgba($color--base, 0.4);
        cursor: not-allowed;
    }

    // STATE: Error
    &.error {
        border: $input--border-error;

        &:focus {
            box-shadow: $input--boxShadow-error;
        }
    }

}
