@import "../../../styles/base";

/* ===================================================================
   TEXTAREA
   =================================================================== */

.base {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 10px 10px 0;
    border: $input--border;
    font-family: $fontFamily--primary;
    font-size: $fontSize--normal;
    color: $color--base-80;
    transition: border-color 0.3s ease;
    appearance: none;
    border-radius: $borderRadius--regular;
    resize: none;
    vertical-align: top; // To compensate for space under textarea in misc browsers

    &:focus {
        border: $input--border-focus;
        box-shadow: $input--boxShadow-focus;
        color: $color--base;
    }

    // STATE: Error
    &.error {
        border-color: $input--border-error;

        &:focus {
            //box-shadow: $input--box-shadow-hover--error;
        }
    }

}
