@import "../../../styles/base";

/* ===================================================================
   TEXTAREA
   =================================================================== */
$backgroundColor: var(--select_backgroundColor, var(--input_backgroundColor));

.base {
    border-radius: var(--borderRadius_form);
    background-color: $backgroundColor;
    transition: border-color 0.3s ease;
    border: var(--input_border);
    box-shadow: var(--input_boxShadow, "none");

    textarea {
        display: inline-block;
        width: 100%;
        outline: none;
        padding: 10px;
        font-family: var(--fontFamily_primary);
        font-size: var(--fontSize_regular);
        color: rgba(var(--color_base), 0.8);
        appearance: none;
        background: transparent;
        resize: none;
        border: none;
        vertical-align: top; // To compensate for space under textarea in misc browsers
    }

    &.focused {
        border: var(--input_borderFocus);
        box-shadow: var(--input_boxShadowFocus);
        color: rgba(var(--color_base), 1);
        background-color: var(--input_backgroundColorFocus, $backgroundColor);
    }

    &.disabled {
        background-color: rgba(var(--color_base), 0.03);
        border-color: rgba(var(--color_base), 0.1);
        color: rgba(var(--color_base), 0.4);

        textarea {
            cursor: not-allowed;
        }
    }

    .toolbar {
        margin-top: var(--spacing_small);
        background: rgba(var(--color_base), 0.03);
    }

    // STATE: Error
    &.error {
        border: var(--input_borderError);
        &.focused {
            box-shadow: var(--input_boxShadowError);
        }
    }
}
