@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU
   =================================================================== */

$menuItem-size: 42px;

.base {
    display: block;
    margin-bottom: $spacing--large;
}


/* ITEM
---------------------------------------------------------------------- */
.item {
    position: relative;
    display: flex;
    width: 100%;
    height: $menuItem-size;
    padding: 0 $spacing--nav-sides;
    outline: none;
    user-select: none;
    transition: background-color 0.2s ease-in-out;
    align-items: center;
    text-decoration: none;

    // Icon
    .icon {
        display: flex;
        align-items: center;
        width: 32px;
        @include m-iconColor(rgba(desaturate($color--nav-accent, 50%), 0.5), true);
    }

    // Label
    .label {
        @include m-truncate();
        text-decoration: none;
        color: rgba($color--nav-text, 0.4);
        flex-grow: 1;
        transition: color 0.2s ease-in-out;
    }

    // Indicators
    .indicators {
        display: flex;
        align-items: center;

        // Arrow
        .arrow {
            @include m-iconSize(8px);
            @include m-iconColor(rgba($color--nav-text, 0.2), true);
        }
    }

    // STATE: Selected
    &.selected,
    &:hover {
        background-color: darken($color--nav-sidebar-background, 3%);
        cursor: pointer;

        .icon {
            @include m-iconColor(rgba($color--nav-accent, 1));
        }

        .label {
            color: $color--nav-text;
        }

        .arrow {
            @include m-iconColor($color--nav-text);
        }
    }

    // STATE: Hover
    &.selected {
        cursor: default;
    }
}
