@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU HEADING
   =================================================================== */

.heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 $spacing--nav-sides;
    font-weight: var(--fontWeight_medium);
    color: rgba(var(--nav_textColor), 0.2);
    font-size: var(--fontSize_small);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: var(--spacing_small);
    @include m-truncate();
}
