@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU HEADING
   =================================================================== */

$color: var(--navMenuHeading_color, rgba(var(--navMain_foregroundColor), 0.2));
$fontSize: var(--navMenuHeading_fontSize, var(--fontSize_small));
$fontWeight: var(--navMenuHeading_fontWeight, var(--fontWeight_bold));
$letterSpacing: var(--navMenuHeading_letterSpacing, 1px);

.heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 $spacing--nav-sides;
    font-weight: $fontWeight;
    color: $color;
    font-size: $fontSize;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: $letterSpacing;
    margin-bottom: var(--spacing_small);
    @include m-truncate();
}
