@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU ITEM
   =================================================================== */

$menuItem-size: 42px;
$spacing-sides: $spacing--nav-sides;

.item {
    position: relative;
    display: flex;
    width: 100%;
    height: $menuItem-size;
    padding: 0 $spacing-sides 0 $spacing-sides;
    outline: none;
    user-select: none;
    transition: background-color 0.2s ease-in-out;
    align-items: center;
    text-decoration: none;

    // Icon
    .icon {
        display: flex;
        align-items: center;
        width: 32px;
        @include m-iconColor(rgba(var(--nav_accentColor), 0.5), true);
    }

    // Label
    .label {
        @include m-truncate();
        text-decoration: none;
        color: rgba(var(--nav_textColor), 0.4);
        font-weight: var(--fontWeight_medium);
        flex-grow: 1;
        transition: color 0.2s ease-in-out;
    }

    // Indicators
    .indicators {
        display: flex;
        align-items: center;

        // Arrow
        .arrow {
            @include m-iconSize(8px);
            @include m-iconColor(rgba(var(--nav_textColor), 0.2), true);
        }
    }

    // STATE: Selected
    &.selected,
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .icon {
            @include m-iconColor(rgba(var(--nav_accentColor), 1));
        }

        .label {
            color: rgba(var(--nav_textColor), 1);
        }

        .arrow {
            @include m-iconColor(rgba(var(--nav_textColor), 1));
        }
    }

    // STATE: Hover
    &.selected {
        cursor: default;
    }
}
