@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU
   =================================================================== */

$menuItem-size: 42px;

.base {
    display: block;
    margin-bottom: var(--spacing_large);
}
