@import "../../../../styles/base";
@import "../config";

/* ===================================================================
   APP NAV - MENU
   =================================================================== */

$spacing-sides: $spacing--nav-sides;

.base {
    display: block;
    margin-bottom: $spacing--large;
}


/* HEADING
---------------------------------------------------------------------- */
.heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 $spacing-sides;
    font-weight: $fontWeight--bold;
    color: rgba($color--secondary-accent, 0.8);
    font-size: $fontSize--small;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: $spacing--small;
    @include m-truncate();
}


/* ITEM
---------------------------------------------------------------------- */
.item {
    position: relative;
    display: flex;
    width: 100%;
    height: $size--element-normal;
    padding: 0 $spacing-sides 0 $spacing-sides;
    outline: none;
    user-select: none;
    transition: background-color .2s ease-in-out;
    align-items: center;

    // Icon
    .icon {
        display: flex;
        align-items: center;
        width: 32px;
        @include m-iconColor(rgba($color--secondary-contrast, .3), true);
    }

    // Label
    .label {
        @include m-truncate();
        text-decoration: none;
        color: rgba($color--secondary-contrast, 0.8);
        flex-grow: 1;
        font-weight: $fontWeight--medium;
        transition: color .2s ease-in-out;
    }

    // Indicators
    .indicators {
        display: flex;
        align-items: center;

        // Arrow
        .arrow {
            @include m-iconSize(8px);
            @include m-iconColor(rgba($color--secondary-contrast, 0.2), true);
        }
    }

    // STATE: Hover
    &:hover {
        cursor: pointer;

        .icon {
            @include m-iconColor($color--secondary-contrast);
        }

        .label {
            color: $color--secondary-contrast;
        }

        .arrow {
            @include m-iconColor(rgba($color--secondary-contrast, 0.8), true);
        }
    }

    // STATE: Selected
    &.selected {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: default;

        .icon {
            @include m-iconColor(rgba($color--secondary-accent, 1));
        }

        .label {
            color: $color--secondary-contrast;
        }

        .arrow {
            @include m-iconColor(rgba($color--secondary-contrast, 0.8));
        }
    }
}
