@import "../../../styles/base";

/* ===================================================================
   BUTTON
   =================================================================== */

$height--button: var(--elementSize_regular);
$height--button-big: var(--elementSize_big);
$height--button-small: var(--elementSize_small);

.base {
    display: block;
    width: 100%;
    position: relative;
    outline: none;
    height: $height--button;
    line-height: $height--button - 2px;
    font-family: var(--fontFamily_primary);
    font-size: var(--fontSize_regular);
    font-weight: var(--fontWeight_medium);
    border: none;
    cursor: pointer;
    border-radius: var(--borderRadius_buttons);
    text-decoration: none;
    user-select: none;
    transition: border-color 0.3s linear, color .3s linear, background-color .3s linear;
    @include m-truncate();

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shade {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        pointer-events: none;
    }

    &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .shade {
            background: rgba(var(--color_contrast), 1);
            border: 1px solid rgba(var(--color_contrast), 1);
            opacity: 0.15;
        }
    }

    &:active, &.active {
        box-shadow: none;

        .shade {
            transition: none;
            background: rgba(var(--color_base), 1);
            border: 1px solid rgba(var(--color_base), 1);
            opacity: 0.06;
        }
    }
}

// Disabled
.base[disabled], .base[disabled]:hover, .base[disabled]:active {
    border-color: transparent;
    background-color: rgba(var(--color_base), 0.03);
    color: rgba(var(--color_base), 0.3);
    box-shadow: none;
    cursor: default;

    .icon {
        @include m-iconColor(rgba(var(--color_base), 0.20) !important);
    }

    .shade {
        display: none;
    }

    &:hover {
        color: rgba(var(--color_base), 0.3);
    }
}


/* ===================================================================
   LOADER (Busy)
   =================================================================== */

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing_medium);
}



/* ===================================================================
   BUTTON ICON
   =================================================================== */

.base {
    .icon {
        vertical-align: -3px;
        margin-right: 8px;
        margin-left: -7px;
        @include m-iconColor(rgba(var(--color_base), 1));
    }

    // Icon on the right side of label
    &.iconRight {
        .icon {
            margin-right: -7px;
            margin-left: 8px;
        }
    }

    // Primary colored icon
    &.iconPrimary {
        .icon {
            @include m-iconColor(rgba(var(--color_primary), 1));
        }
    }

    // Info colored icon
    &.iconInfo {
        .icon {
            @include m-iconColor(rgba(var(--color_info), 1));
        }
    }

    // Success colored icon
    &.iconSuccess {
        .icon {
            @include m-iconColor(rgba(var(--color_success), 1));
        }
    }

    // Warning colored icon
    &.iconWarning {
        .icon {
            @include m-iconColor(rgba(var(--color_warning), 1));
        }
    }

    // Error colored icon
    &.iconError {
        .icon {
            @include m-iconColor(rgba(var(--color_error), 1));
        }
    }

    // Hide icon
    &.hideIcon {
        .icon {
            opacity: 0 !important;
        }
    }
}


/* ===================================================================
   LABEL COLOR
   =================================================================== */

.base {
    &.labelSuccess {
        color: rgba(var(--color_success), 1);
        &:hover {
            color: rgba(var(--color_success), 1);
        }
    }

    &.labelWarning {
        color: rgba(var(--color_warning), 1);
        &:hover {
            color: rgba(var(--color_warning), 1);
        }
    }

    &.labelError {
        color: rgba(var(--color_error), 1);
        &:hover {
            color: rgba(var(--color_error), 1);
        }
    }
}



/* ===================================================================
   BUTTON COLORS
   =================================================================== */

.colorDefault {
    color: rgba(var(--color_base), 1);
    border: 1px solid rgba(var(--color_base), 0.20);
    background: rgba(var(--color_contrast), 1);

    &:hover {
        color: rgba(var(--color_base), 1);
    }
}

.colorPrimary {
    color: rgba(var(--color_primaryContrast), 1);
    background: rgba(var(--color_primary), 1);
    border: none;

    .icon {
        @include m-iconColor(rgba(var(--color_primaryContrast), 1));
    }

    &:hover {
        background-color: rgba(var(--color_primary), 1);
        color: rgba(var(--color_primaryContrast), 1);
    }
}

.colorSuccess {
    color: rgba(var(--color_statusText), 1);
    background-color: rgba(var(--color_success), 1);

    .icon {
        @include m-iconColor(rgba(var(--color_statusText), 1));
    }

    &:hover {
        border-color: rgba(var(--color_success), 1);
        color: rgba(var(--color_statusText), 1);
    }
}

.colorWarning {
    color: rgba(var(--color_statusText), 1);
    border-color: transparent;
    background-color: rgba(var(--color_warning), 1);

    .icon {
        @include m-iconColor(rgba(var(--color_statusText), 1));
    }

    &:hover {
        border-color: rgba(var(--color_warning), 1);
        background-color: rgba(var(--color_warning), 1);
        color: rgba(var(--color_statusText), 1);
    }
}

.colorError {
    color: rgba(var(--color_statusText), 1);
    border-color: transparent;
    background-color: rgba(var(--color_error), 1);

    .icon {
        @include m-iconColor(rgba(var(--color_statusText), 1));
    }

    &:hover {
        border-color: transparent;
        background-color: rgba(var(--color_error), 1);
        color: rgba(var(--color_statusText), 1);
    }
}

.colorInfo {
    color: rgba(var(--color_statusText), 1);
    border-color: transparent;
    background-color: rgba(var(--color_info), 1);

    .icon {
        @include m-iconColor(rgba(var(--color_statusText), 1));
    }

    &:hover {
        border-color: transparent;
        background-color: rgba(var(--color_info), 1);
        color: rgba(var(--color_statusText), 1);
    }
}

.silent {
    color: rgba(var(--color_base), 0.8);
    border-color: rgba(var(--color_base), 0.05);
    background-color: rgba(var(--color_contrast), 1);

    .icon {
        @include m-iconColor(rgba(var(--color_base), 0.8));
    }

    &:hover {
        border-color: rgba(var(--color_base), 0.20);
        color: rgba(var(--color_base), 0.8);
    }

    &:active, &.active {
        border-color: rgba(var(--color_base), 0.3);
    }
}



/* ===================================================================
   BUTTON SIZES
   =================================================================== */

.sizeBig {
    height: $height--button-big;
    line-height: $height--button-big - 1px;
    font-size: var(--fontSize_medium);

    .icon {
        vertical-align: -4px;
        margin-right: 10px;
        @include m-iconSize($iconSize--medium);
    }
}

.sizeSmall {
    height: $height--button-small;
    line-height: $height--button-small - 2px;

    .icon {
        @include m-iconSize($iconSize--small);
        vertical-align: -2px;
    }
}

/* ===================================================================
   BUTTON MUTTATORS
   =================================================================== */

.circle {
    padding-left: 0;
    padding-right: 0;
    border-radius: 100px;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.sizeSmall {
        width: $height--button-small;
    }

    &.sizeBig {
        width: $height--button-big;
    }
}

.square {
    padding-left: 0;
    padding-right: 0;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.sizeSmall {
        width: $height--button-small;
    }

    &.sizeBig {
        width: $height--button-big;
    }
}

.hideLabel {
    transition: color 0s ease;
    color: rgba(0, 0, 0, 0) !important;
}
