@import "../../../styles/base";

/* ===================================================================
   BUTTON
   =================================================================== */

$height--button: $size--element-regular;
$height--button-big: $size--element-big;
$height--button-small: $size--element-small;

.base {
    display: block;
    width: 100%;
    position: relative;
    outline: none;
    background: $color--contrast;
    height: $height--button;
    line-height: $height--button - 2px;
    font-family: $fontFamily--primary;
    font-size: $fontSize--regular;
    font-weight: $fontWeight--medium;
    border: 1px solid rgba($color--base, 0.20);
    color: $color--base;
    cursor: pointer;
    border-radius: $borderRadius--regular;
    text-decoration: none;
    user-select: none;
    transition: border-color 0.3s linear, color .3s linear, background-color .3s linear;
    @include m-truncate();

    &:hover {
        color: $color--base;
        border-color: rgba($color--base, 0.20);
        background-color: darken($color--contrast, 2%);
    }

    &:active, &.active {
        background-color: rgba($color--base, 0.10);
        transition: background-color 0s ease;
    }
}

// Disabled
.base[disabled], .base[disabled]:hover, .base[disabled]:active {
    border-color: transparent;
    background-color: rgba($color--base, 0.03);
    color: rgba($color--base, 0.3);
    cursor: default;

    .icon {
        @include m-iconColor(rgba($color--base, 0.20) !important);
    }

    &:hover {
        color: rgba($color--base, 0.3);
    }
}


/* ===================================================================
   LOADER (Busy)
   =================================================================== */

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 $spacing--medium;
}



/* ===================================================================
   BUTTON ICON
   =================================================================== */

.base {
    .icon {
        vertical-align: -3px;
        margin-right: 8px;
        margin-left: -7px;
        @include m-iconColor($color--base);
    }

    // Icon on the right side of label
    &.iconRight {
        .icon {
            margin-right: -7px;
            margin-left: 8px;
        }
    }

    // Primary colored icon
    &.iconPrimary {
        .icon {
            @include m-iconColor($color--primary);
        }
    }

    // Info colored icon
    &.iconInfo {
        .icon {
            @include m-iconColor($color--info);
        }
    }

    // Success colored icon
    &.iconSuccess {
        .icon {
            @include m-iconColor($color--success);
        }
    }

    // Warning colored icon
    &.iconWarning {
        .icon {
            @include m-iconColor($color--warning);
        }
    }

    // Error colored icon
    &.iconError {
        .icon {
            @include m-iconColor($color--error);
        }
    }

    // Hide icon
    &.hideIcon {
        .icon {
            opacity: 0 !important;
        }
    }
}


/* ===================================================================
   LABEL COLOR
   =================================================================== */

.base {
    &.labelSuccess {
        color: $color--success;
        &:hover {
            color: $color--success;
        }
    }

    &.labelWarning {
        color: $color--warning;
        &:hover {
            color: $color--warning;
        }
    }

    &.labelError {
        color: $color--error;
        &:hover {
            color: $color--error;
        }
    }
}



/* ===================================================================
   BUTTON COLORS
   =================================================================== */

.colorPrimary {
    color: $color--primary-contrast;
    border: none;
    background: $color--primary;

    .icon {
        @include m-iconColor($color--primary-contrast);
    }

    &:hover {
        background-color: $color--primary;
        color: $color--primary-contrast;
    }

    &:active, &.active {
        background-color: darken($color--primary, 5%);
    }
}

.colorSuccess {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--success;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: $color--success;
        background-color: $color--success;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--success, 5%);
    }
}

.colorWarning {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--warning;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: $color--warning;
        background-color: $color--warning;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--warning, 5%);
    }
}

.colorError {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--error;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: transparent;
        background-color: $color--error;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--error, 5%);
    }
}

.colorInfo {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--info;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: transparent;
        background-color: $color--info;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--info, 5%);
    }
}

.silent {
    color: rgba($color--base, 0.8);
    border-color: rgba($color--base, 0.05);
    background-color: $color--contrast;

    .icon {
        @include m-iconColor(rgba($color--base, 0.8));
    }

    &:hover {
        border-color: rgba($color--base, 0.20);
        color: rgba($color--base, 0.8);
    }

    &:active, &.active {
        border-color: rgba($color--base, 0.3);
    }
}



/* ===================================================================
   BUTTON SIZES
   =================================================================== */

.sizeBig {
    height: $height--button-big;
    line-height: $height--button-big - 1px;
    font-size: $fontSize--medium;

    .icon {
        vertical-align: -4px;
        margin-right: 10px;
        @include m-iconSize($iconSize--medium);
    }
}

.sizeSmall {
    height: $height--button-small;
    line-height: $height--button-small - 2px;

    .icon {
        @include m-iconSize($iconSize--small);
        vertical-align: -2px;
    }
}

/* ===================================================================
   BUTTON MUTTATORS
   =================================================================== */

.circle {
    padding-left: 0;
    padding-right: 0;
    border-radius: 100px;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.sizeSmall {
        width: $height--button-small;
    }

    &.sizeBig {
        width: $height--button-big;
    }
}

.square {
    padding-left: 0;
    padding-right: 0;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.sizeSmall {
        width: $height--button-small;
    }

    &.sizeBig {
        width: $height--button-big;
    }
}

.hideLabel {
    transition: color 0s ease;
    color: rgba(0, 0, 0, 0) !important;
}
