@import "../../../styles/base";

/* ===================================================================
   BUTTON
   =================================================================== */

$height--button: $size--element-normal;
$height--button-big: $size--element-big;
$height--button-small: $size--element-small;

.base {
    position: relative;
    display: inline-block;
    outline: none;
    background: none;
    height: $height--button;
    line-height: $height--button + 1px;
    font-family: $fontFamily--primary;
    font-size: $fontSize--normal;
    font-weight: $fontWeight--medium;
    padding: 0 30px 0;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: $borderRadius--regular;
    text-decoration: none;
    user-select: none;
    transition: border-color 0.3s linear, color .3s linear, background-color .3s linear;
    @include m-truncate();

    &:active {
        transition: background-color 0s ease;
    }

    &.active {
        cursor: default;
    }
}

// Disabled
.base[disabled], .base[disabled]:hover, .base[disabled]:active {
    border-color: transparent;
    background-color: $color--base-3;
    color: $color--base-30;
    cursor: default;

    .icon {
        @include m-iconColor($color--base-20 !important);
    }

    &:hover {
        color: $color--base-30;
    }
}


/* ===================================================================
   LOADER (Busy)
   =================================================================== */

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 $spacing--medium;
}



/* ===================================================================
   BUTTON ICON
   =================================================================== */

.base {
    .icon {
        vertical-align: -3px;
        margin-right: 6px;
        margin-left: -7px;
    }

    // Icon on the right side of label
    &.iconRight {
        .icon {
            margin-right: -7px;
            margin-left: 6px;
        }
    }

    // Primary colored icon
    &.iconPrimary {
        .icon {
            @include m-iconColor($color--primary);
        }
    }

    // Info colored icon
    &.iconInfo {
        .icon {
            @include m-iconColor($color--info);
        }
    }


    // Success colored icon
    &.iconSuccess {
        .icon {
            @include m-iconColor($color--success);
        }
    }

    // Error colored icon
    &.iconError {
        .icon {
            @include m-iconColor($color--error);
        }
    }

    // Hide icon
    &.hideIcon {
        .icon {
            opacity: 0 !important;
        }
    }
}


/* ===================================================================
   LABEL COLOR
   =================================================================== */

.base {

    &.labelError {
        color: $color--error;

        &:hover {
            color: $color--error;
        }
    }

}



/* ===================================================================
   BUTTON COLORS
   =================================================================== */

.default {
    color: $color--base-80;
    border-color: $color--base-20;
    background-color: $color--contrast;

    .icon {
        @include m-iconColor($color--primary);
    }

    &:hover {
        color: $color--base;
        border-color: $color--base-20;
        background-color: darken($color--contrast, 2%);
    }

    &:active, &.active {
        background-color: $color--base-10;
    }
}

.primary {
    color: $color--contrast;
    border: none;
    background: $color--primary;

    .icon {
        @include m-iconColor($color--contrast);
    }

    &:hover {
        background-color: $color--primary;
        color: $color--contrast;
    }

    &:active, &.active {
        background-color: darken($color--primary, 5%);
    }
}


.success {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--success;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: $color--success;
        background-color: $color--success;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--success, 5%);
    }
}


.error {
    color: $color--status-text;
    border-color: transparent;
    background-color: $color--error;

    .icon {
        @include m-iconColor($color--status-text);
    }

    &:hover {
        border-color: transparent;
        background-color: $color--error;
        color: $color--status-text;
    }

    &:active, &.active {
        background-color: darken($color--error, 5%);
    }
}



/* ===================================================================
   BUTTON SIZES
   =================================================================== */

.big {
    height: $height--button-big;
    line-height: $height--button-big + 1px;
    font-size: $fontSize--medium;
    padding: 0 50px;

    .icon {
        vertical-align: -4px;
        margin-right: 8px;
        @include m-iconSize($iconSize--medium);
    }
}

.small {
    padding-left: 20px;
    padding-right: 20px;
    height: $height--button-small;
    line-height: $height--button-small + 1px;

    .icon {
        @include m-iconSize($iconSize--small);
        vertical-align: -2px;
    }
}

/* ===================================================================
   BUTTON MUTTATORS
   =================================================================== */

.block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.compact {
    padding-left: $spacing--small;
    padding-right: $spacing--small;
}

.circle {
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.big {
        width: $height--button-big;
    }
}

.square {
    padding-left: 0;
    padding-right: 0;
    width: $height--button;

    .icon {
        margin: 0;
    }

    &.small {
        width: $height--button-small;
    }

    &.big {
        width: $height--button-big;
    }
}

.hideLabel {
    transition: color 0s ease;
    color: rgba(0, 0, 0, 0) !important;
}
