@import "../../../styles/base";

/* ===================================================================
   USER MENU
   =================================================================== */

.base {
    position: relative;

    .frame {
        padding: $spacing--normal;
    }

    .picture {
        width: $size--element-normal;
        height: $size--element-normal;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        .placeholder {
            width: 100%;
            height: 100%;
            background: $color--secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            @include m-iconColor($color--secondary-contrast);
        }
    }
}
