@import "../../../styles/base";

/* ===================================================================
   APP CONTAINER
   =================================================================== */

:root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: rgba(var(--color_background), 1);
    font-size: var(--fontSize_root);
    margin: 0;
    font-family: var(--fontFamily_primary);
    line-height: var(--lineHeight_regular);
    color: rgba(var(--color_base), 1);

    * {
        box-sizing: border-box;
    }


    // Markup

    a {
        color: rgba(var(--color_link), 1);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        font-weight: var(--fontWeight_bold);
    }

    h1 {
        margin: 0 0 var(--spacing_regular) 0;
        font-size: var(--fontSize_heading1);
        font-family: var(--fontFamily_titles);
    }

    h2 {
        margin: 0 0 var(--spacing_regular) 0;
        font-size: var(--fontSize_heading2);
        font-family: var(--fontFamily_titles);
    }

    h3 {
        margin: 0 0 var(--spacing_regular) 0;
        font-size: var(--fontSize_heading3);
        font-family: var(--fontFamily_titles);
    }

    h4 {
        margin: 0 0 var(--spacing_regular) 0;
        font-size: var(--fontSize_heading4);
        font-family: var(--fontFamily_titles);
    }

    hr {
        border: none;
        border-top: 1px solid rgba(var(--color_base), 0.1);
        margin: var(--spacing_medium) 0;
    }
}
