@import "../../../styles/base";

/* ===================================================================
   APP CONTAINER
   =================================================================== */

:root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: rgba(var(--color_background), 1);
    font-size: var(--fontSize_root);
    margin: 0;
    font-family: var(--fontFamily_primary);
    line-height: var(--lineHeight_regular);
    color: rgba(var(--color_base), 1);

    * {
        box-sizing: border-box;
    }
}
